{% extends "account/baseAccount.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}
Reset Password Complate - Weight Center
{% endblock %}

{% block content %}
            <h1 class="auth-title">รีเซ็ตรหัสผ่านเสร็จสมบูรณ์</h1>
            <p class="auth-subtitle mb-5">
                รหัสผ่านของคุณได้รับการตั้งค่าแล้ว คุณสามารถเข้าสู่ระบบได้ทันที
            </p>
            <div class="text-center mt-5 text-lg fs-4">
              <p class="text-gray-600">
                <a href="{% url 'home' %}" class="font-bold">เข้าสู่ระบบ</a>.
              </p>
            </div>
{% endblock%}


