{% extends "account/baseAccount.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}
Reset Password Complate - Weight Center
{% endblock %}

{% block content %}
            <h1 class="auth-title">Password reset completed successfully.</h1>
            <p class="auth-subtitle mb-5">
              Your password has been set. You can now log in immediately.
            </p>
            <div class="text-center mt-5 text-lg fs-4">
              <p class="text-gray-600">
                <a href="{% url 'home' %}" class="font-bold">Log in</a>.
              </p>
            </div>
{% endblock%}


