altgraph==0.17.4
asgiref==3.5.2
async-timeout==4.0.3
Babel==2.12.1
backports.entry-points-selectable==1.1.1
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.4
coreapi==2.3.3
coreschema==0.0.4
coverage==7.2.5
crispy-bootstrap4==2022.1
crispy-bootstrap5==0.7
defusedxml==0.7.1
diff-match-patch==20200713
distlib==0.3.4
dj-database-url==0.5.0
Django==4.1.4
django-appconf==1.0.6
django-crispy-forms==2.0
django-extensions==3.2.3
django-filter==2.4.0
django-floppyforms==1.9.0
django-import-export==2.6.1
django-multiselectfield==0.1.12
django-pandas==0.6.6
django-redis==5.4.0
django-related-admin==1.0.1
django-rest-swagger==2.2.0
django-select2==8.1.2
django-widget-tweaks==1.4.8
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
et-xmlfile==1.1.0
filelock==3.4.0
flake8==6.0.0
graphviz==0.20.1
gunicorn==20.1.0
idna==2.10
importlib-metadata==6.8.0
itypes==1.2.0
Jinja2==3.1.2
langdetect==1.0.9
MarkupPy==1.14
MarkupSafe==2.1.3
mccabe==0.7.0
mysqlclient==2.0.3
numpy==1.23.5
odfpy==1.4.1
openapi-codec==1.3.2
openpyxl==3.0.9
packaging==21.3
pandas==1.5.2
pefile==2023.2.7
Pillow==9.3.0
platformdirs==2.4.0
pluggy==1.0.0
psycopg2==2.9.1
py==1.11.0
pycodestyle==2.10.0
pydot==2.0.0
pyflakes==3.0.1
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
PyJWT==2.8.0
pyparsing==3.0.6
pypng==0.20220715.0
python-dateutil==2.8.2
pytz==2021.1
pytz-deprecation-shim==0.1.0.post0
pywin32-ctypes==0.2.2
PyYAML==6.0
qrcode==7.4.2
redis==5.0.3
requests==2.25.1
segno==1.6.1
simplejson==3.19.1
six==1.16.0
sqlparse==0.4.3
stripe==2.58.0
supervisor==4.1.0
tablib==3.1.0
tkcalendar==1.6.1
toml==0.10.2
tox==3.24.4
typing_extensions==4.9.0
tzdata==2021.5
tzlocal==4.1
uritemplate==4.1.1
urllib3==1.26.5
virtualenv==20.10.0
whitenoise==5.3.0
xlrd==2.0.1
XlsxWriter==3.1.9
xlutils==2.0.0
xlwt==1.3.0
zipp==3.17.0
