{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load templatehelpers %}

{% block css %}
<link
rel="stylesheet"
href="{% static 'extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}"
/>
<link rel="stylesheet" href="{% static 'compiled/css/table-datatable-jquery.css' %}"/>
{% endblock %}

{% block content %}
<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
      <i class="bi bi-justify fs-3"></i>
    </a>
  </header>

  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
          <h3>Weight Table</h3>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
          <nav
            aria-label="breadcrumb"
            class="breadcrumb-header float-start float-lg-end"
          >
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                <a href="{% url 'weightTable' %}">Weight Table</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                Approved Weight
                </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>

    <!-- Basic Tables start -->
    <section class="section">
      <div class="card">
        <div class="card-body">
          <form id="checkboxForm" method="POST" action="{% url 'approveWeight' %}">
            {% csrf_token %}
          <div class="row mb-1">
            <div class="col">
                <button type="submit" name="btnform" class="btn btn-success">
                  <i class="fas fa-save"></i>
                  ยืนยันการตรวจสอบ
                </button>
            </div>
          </div>
          <div class="table-responsive my-3">
            <table class="table table-hover">
              <thead class="table-dark">
                <tr>
                  <th>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                        <label class="form-check-label" for="flexCheckIndeterminate">
                            All
                        </label>
                    </div>
                  </th>
                  <th>วันที่</th>
                </tr>
              </thead>
              <tbody>
                {% for date in weight %}
                <tr>
                  <td>
                    <div class="form-check">
                      <input class="form-check-input chk" type="checkbox" name="choices" value="{{date|date:'Y-m-d'}}" id="customCheck{{forloop.counter}}">
                      <label class="form-check-label" for="customCheck{{forloop.counter}}"></label>
                    </div>
                  </td>
                  <td>{{date}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <input type="hidden" name="checkboxData" id="checkboxData">
          </form>
          <!--Pagination-->
          <nav aria-label="Page navigation">
            <ul class="pagination float-end">
            {% if weight.has_previous %}
                <li class="page-item">
                <a class="page-link" href="{% my_url weight.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
              </li>
            {% else %}
                <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
            {% endif %}

            {% if weight.number|add:'-4' > 1 %}
                <li class="page-item"><a class="page-link" href="{% my_url weight.number|add:'-5' 'page' request.GET.urlencode %}">&hellip;</a></li>
            {% endif %}

            {% for i in weight.paginator.page_range %}
                {% if weight.number == i %}
                    <li class="page-item active" aria-current="page">
                  <span class="page-link">
                    {{ i }}
                    <span class="sr-only">(current)</span>
                  </span>
                </li>
                {% elif i > weight.number|add:'-5' and i < weight.number|add:'5' %}
                    <li class="page-item"><a class="page-link" href="{% my_url i 'page' request.GET.urlencode %}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if weight.paginator.num_pages > weight.number|add:'4' %}
              <li class="page-item"><a class="page-link" href="{% my_url weight.number|add:'5' 'page' request.GET.urlencode %}">&hellip;</a></li>
            {% endif %}

            {% if weight.has_next %}
                <li class="page-item">
                <a class="page-link"  href="{% my_url weight.next_page_number 'page' request.GET.urlencode %}">Next</a>
              </li>
            {% else %}
                <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
              </li>
            {% endif %}
          </ul>
        </nav>
        <!--end of Pagination-->
        </div>
      </div>
    </section>
    <!-- Basic Tables end -->
  <footer>
    <div class="footer clearfix mb-0 text-muted">
      <div class="float-start">
        <p>2023 &copy; Nitjanan</p>
      </div>
      <div class="float-end">
        <!-- p>
          Crafted with
          <span class="text-danger"
            ><i class="bi bi-heart-fill icon-mid"></i
          ></span>
          by <a href="https://saugi.me">Saugi</a>
        </p -->
      </div>
    </div>
  </footer>
{% endblock %}

{% block script %}
<script src="{% static 'js/components/dark.js' %}"></script>
<script src="{% static 'extensions/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>

<script src="{% static 'compiled/js/app.js' %}"></script>

<script src="{% static 'extensions/jquery/jquery.min.js' %}"></script>
<script src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
<script src="{% static 'js/pages/datatables.js' %}"></script>

<script type="text/javascript">

  //after load
  $(window).on('load', function() {

    var apData = [
        {% for ap in ap_data %}
            {
                date: "{{ ap.date |date:'Y-m-d'}}",
                isApprove: {{ ap.is_approve|yesno:"true,false" }}
            }{% if not forloop.last %},{% endif %}
        {% endfor %}
    ];

    apData.forEach(function(item) {
        // Find checkbox by value matching the date
        var checkbox = $('input[type="checkbox"][value="' + item.date + '"]');
        
        // If is_approve is True, check the checkbox
        if (item.isApprove) {
            checkbox.prop('checked', true);
        }
    });

	});

  /////////////////////// start ปุ่ม check All ///////////////////////////
  var parentCheckbox = document.getElementById('flexCheckIndeterminate');
  parentCheckbox.addEventListener('change', e => {
    document.querySelectorAll('.chk').forEach(checkbox => {
      checkbox.checked = e.target.checked
    })
  });
        
  document.querySelectorAll('tbody .chk').forEach(checkbox => {
    checkbox.addEventListener('change', ()=> {
      var tbodyCheckbox = document.querySelectorAll('tbody .chk').length;
      var tbodyCheckedbox = document.querySelectorAll('tbody .chk:checked').length;
      if(tbodyCheckbox == tbodyCheckedbox){
        //console.log('All selected')
        parentCheckbox.indeterminate = false;
        parentCheckbox.checked = true;
      }
      if (tbodyCheckbox > tbodyCheckedbox && tbodyCheckedbox>=1) {
        // console.log('Some selected')
        parentCheckbox.indeterminate = true;
      }
      if(tbodyCheckedbox==0) {
        // console.log('No any selected')
        parentCheckbox.indeterminate = false;
        parentCheckbox.checked = false;
      }
  
    })
  });

  document.getElementById('checkboxForm').addEventListener('submit', function(event) {
    // Prevent form submission for debugging
    event.preventDefault();

    const checkboxes = document.querySelectorAll('.chk');
    const data = Array.from(checkboxes).map(checkbox => ({
      date: checkbox.value,
      isChecked: checkbox.checked
    }));

    document.getElementById('checkboxData').value = JSON.stringify(data);
    event.target.submit();
  });
  /////////////////////// end ปุ่ม check All ///////////////////////////
  
  </script>

{% endblock %}