{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load templatehelpers %}
{% load widget_tweaks %}

{% block css %}
<link
rel="stylesheet"
href="{% static 'extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}"
/>
<link rel="stylesheet" href="{% static 'compiled/css/table-datatable-jquery.css' %}"/>
<style>
input.del[type=checkbox] {
 display: none;
}
</style>
{% endblock %}

{% block content %}
<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
      <i class="bi bi-justify fs-3"></i>
    </a>
  </header>

  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
          <h3>Edit Weight</h3>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
          <nav
            aria-label="breadcrumb"
            class="breadcrumb-header float-start float-lg-end"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Dashboard</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'viewProduction' %}">Weight</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Edit Weight
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>

    <!-- Basic Tables start -->
    <section class="section">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">แก้ไขบันทึกการชั่ง</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <form class="form" method="post" enctype="multipart/form-data">
              <div class="row">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-2 form-group">
                        <label for="first-name-horizontal">วันที่</label>
                      </div>
                      <div class="col-md-2 form-group">
                        {{form.date |attr:"readonly"| add_class:"form-control" }}
                      </div>
                      <div class="col-md-8 form-group">
                        {{form.doc_id |attr:"readonly"| add_class:"form-control" }}
                    </div>

                    <div class="col-md-2 form-group">
                      <label for="first-name-horizontal">จ่ายเงิน</label>
                    </div>
                    <div class="col-md-4 form-group mt-2">
                      <fieldset id="pay_group">
                        <div class="form-check form-check-primary form-check-inline me-4">
                          <input class="form-check-input" type="radio" name="pay_group" id="pg_1" checked="" value="เงินสด" onclick="radiostateP1(this)">
                          <label class="form-check-label" for="Primary">
                            เงินสด
                          </label>
                        </div>
                        <div class="form-check form-check-primary form-check-inline me-4">
                          <input class="form-check-input" type="radio" name="pay_group" id="pg_2" checked="" value="เงินเชื่อ" onclick="radiostateP2(this)">
                          <label class="form-check-label" for="Primary">
                            เงินเชื่อ
                          </label>
                        </div>
                        <div class="form-check form-check-primary form-check-inline me-4">
                          <input class="form-check-input" type="radio" name="pay_group" id="pg_3" checked="" value="เงินโอน" onclick="radiostateP3(this)">
                          <label class="form-check-label" for="Primary">
                            เงินโอน
                          </label>
                        </div>
                        <div class="d-none form-check-primary form-check-inline me-4">
                          <input class="form-check-input" type="radio" name="pay_group" id="pg_4" checked="" value="">
                          <label class="form-check-label" for="Primary">
                            ว่าง
                          </label>
                        </div>
                      </fieldset>
                      {{form.pay}}
                    </div>
                    <div class="col-md-1 form-group">
                      <label for="first-name-horizontal">S.</label>
                    </div>
                    <div class="col-md-5 form-group">
                      {{form.is_s}}
                      {{form.is_cancel| add_class:"d-none"}}
                    </div>

                    <div class="col-md-2 form-group">
                        <label for="first-name-horizontal">ลูกค้า</label>
                    </div>
                    <div class="col-md-10 form-group">
                        {{form.customer | add_class:"d-none"}}{{form.customer_name| add_class:"d-none"}}
                        <input type="text" name="form-customer" id="id-form-customer" class="form-control" Placeholder="ค้นหาลูกค้า ..." autocomplete="off" onfocusout="searchDataCustomer()">
                    </div>

                    <div class="col-md-2 form-group">
                      <label for="first-name-horizontal">ปลายทาง</label>
                    </div>
                    <div class="col-md-8 form-group">
                      <select id="select_site" name="select_site_list" class="form-control">
                        <option value>---------</option>
                      </select>
                      {{form.site}}
                      {{form.site_name}}
                    </div>
                    <div class="col-md-2 form-group">
                      {{form.transport  | add_class:"form-control"}}
                      {{form.carry_type_name}}
                    </div>

                    <div class="col-md-2 form-group">
                      <label for="first-name-horizontal">ทะเบียนรถ</label>
                    </div>
                    <div class="col-md-8 form-group">
                      {{form.car_registration_name | add_class:"form-control"}}
                    </div>
                    <div class="col-md-2 form-group">
                      {{form.province  | add_class:"form-control"}}
                    </div>
                    <div class="col-md-2 form-group">
                      <label for="first-name-horizontal">ผู้ขับ</label>
                    </div>
                    <div class="col-md-4 form-group">
                      {{form.driver_name | add_class:"form-control"}}
                    </div>
                    <div class="col-md-1 form-group">
                      <label for="first-name-horizontal">ทีม</label>
                    </div>
                    <div class="col-md-5 form-group">
                      <select id="select_team" name="select_team_list" class="form-control">
                        <option value>---------</option>
                      </select>
                      {{form.car_team  | add_class:"form-control"}}                      
                      {{form.car_team_name  | add_class:"form-control"}}
                    </div>

                    <div class="col-md-2 form-group">
                      <label for="first-name-horizontal">ต้นทาง</label>
                    </div>
                    <div class="col-md-10 form-group">
                      {{form.mill |attr:"readonly" | add_class:"form-control"}}
                      {{form.mill_name | add_class:"form-control"}}
                    </div>

                    <div class="col-md-2 form-group">
                      <label for="first-name-horizontal">ชนิดหิน</label>
                    </div>
                    <div class="col-md-10 form-group">
                      {{form.stone_type |attr:"readonly" | add_class:"form-control"}}
                      {{form.stone_type_name | add_class:"form-control"}}
                    </div>

                    <div class="col-md-2 form-group">
                      <label for="first-name-horizontal">ประเภทหิน</label>
                    </div>
                    <div class="col-md-5 form-group">
                      {{form.stone_color | add_class:"form-control"}}
                    </div>
                    <div class="col-md-5 form-group">
                      <fieldset id="clean_group">
                        <div class="form-check form-check-primary form-check-inline me-4">
                          <input class="form-check-input" type="radio" name="clean_group" id="cg_1" checked="" value="ล้างหิน" onclick="radiostateCg1(this)">
                          <label class="form-check-label" for="Primary">
                            ล้างหิน
                          </label>
                        </div>
                        <div class="form-check form-check-primary form-check-inline me-4">
                          <input class="form-check-input" type="radio" name="clean_group" id="cg_2" checked="" value="สเปรย์น้ำ" onclick="radiostateCg2(this)">
                          <label class="form-check-label" for="Primary">
                            สเปรย์น้ำ
                          </label>
                        </div>
                        <div class="form-check form-check-primary form-check-inline me-4">
                          <input class="form-check-input" type="radio" name="clean_group" id="cg_3" checked="" value="ไม่มี" onclick="radiostateCg3(this)">
                          <label class="form-check-label" for="Primary">
                            ไม่มี
                          </label>
                        </div>
                        <div class="d-none form-check form-check-primary form-check-inline me-4">
                          <input class="form-check-input" type="radio" name="clean_group" id="cg_4" checked="" value="">
                          <label class="form-check-label" for="Primary">
                            ว่าง
                          </label>
                        </div>
                      </fieldset>
                      {{form.clean_type}}
                    </div>

                    <div class="col-md-2 form-group">
                      <label for="first-name-horizontal">ผู้ตัก</label>
                    </div>
                    <div class="col-md-10 form-group">
                      {{form.scoop |attr:"readonly" | add_class:"form-control" }}
                      {{form.scoop_name | add_class:"form-control" }}
                    </div>

                    <div class="col-md-2 form-group">
                      <label for="first-name-horizontal">หมายเหตุ</label>
                    </div>
                    <div class="col-md-10 form-group">
                      {{form.note | add_class:"form-control" }}
                    </div>

                  <hr class="my-3">
                  <div class="col-md-2 form-group">
                    <label for="first-name-horizontal" class="text-success">น้ำหนักเข้า</label>
                  </div>
                  <div class="col-md-9 form-group">
                    {{form.weight_in | add_class:"form-control" }}
                  </div>
                  <div class="col-md-1">
                    <label for="first-name-horizontal" class="text-success">ตัน</label>
                  </div>

                  <div class="col-md-2 form-group">
                    <label for="first-name-horizontal" class="text-success">น้ำหนักออก</label>
                  </div>
                  <div class="col-md-9 form-group">
                    {{form.weight_out | add_class:"form-control" }}
                  </div>
                  <div class="col-md-1">
                    <label for="first-name-horizontal" class="text-success">ตัน</label>
                  </div>

                  <div class="col-md-2 form-group">
                    <label for="first-name-horizontal" class="text-success">น้ำหนักสุทธิ</label>
                  </div>
                  <div class="col-md-7 form-group">
                    {{form.weight_total | add_class:"form-control" }}
                  </div>
                  <div class="col-md-2 form-group">
                    {{form.q | add_class:"form-control" }}
                  </div>
                  <div class="col-md-1">
                    <label for="first-name-horizontal" class="text-success">ตัน</label>
                  </div>

                  <hr class="my-3">
                  <div class="col-md-2 form-group">
                    <label for="first-name-horizontal">ภาษี</label>
                  </div>
                  <div class="col-md-4 form-group">
                    <fieldset id="vat_type_group">
                      <div class="form-check form-check-warning form-check-inline me-4">
                        <input class="form-check-input" type="radio" name="vat_type_group" id="Primary" checked="" value="รวมภาษี">
                        <label class="form-check-label" for="Primary">
                          รวมภาษี
                        </label>
                      </div>
                      <div class="form-check form-check-warning form-check-inline me-4">
                        <input class="form-check-input" type="radio" name="vat_type_group" id="Primary" checked="" value="ไม่รวมภาษี">
                        <label class="form-check-label" for="Primary">
                          ไม่รวมภาษี
                        </label>
                      </div>
                    </fieldset>
                    {{form.vat_type}}
                  </div>
                  <div class="col-md-2 form-group">
                    <label for="first-name-horizontal" class="text-danger">น้ำมัน</label>
                  </div>
                  <div class="col-md-3 form-group">
                    {{form.oil_content | add_class:"form-control"}}
                  </div>
                  <div class="col-md-1">
                    <label for="first-name-horizontal" class="text-danger">ลิตร</label>
                  </div>

                  <div class="col-md-2 form-group">
                    <label for="first-name-horizontal">ราคา/ตัน</label>
                  </div>
                  <div class="col-md-4 form-group">
                    {{form.price_per_ton | add_class:"form-control"}}
                  </div>
                  <div class="col-md-2 form-group">
                    <label for="first-name-horizontal">จำนวนเงิน</label>
                  </div>
                  <div class="col-md-4 form-group">
                    {{form.amount | add_class:"form-control"}}
                  </div>

                  <div class="col-md-2 form-group">
                    <label for="first-name-horizontal">vat 7%</label>
                  </div>
                  <div class="col-md-4 form-group">
                    {{form.vat | add_class:"form-control"}}
                  </div>
                  <div class="col-md-2 form-group">
                    <label for="first-name-horizontal">จำนวนเงินสุทธิ</label>
                  </div>
                  <div class="col-md-4 form-group">
                    {{form.amount_vat | add_class:"form-control"}}
                  </div>
                  
                  <div class="col-12 d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary me-1 mb-1">
                      บันทึก
                    </button>
                  </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Basic Tables end -->
  </div>

  <footer>
    <div class="footer clearfix mb-0 text-muted">
      <div class="float-start">
        <p>2023 &copy; Nitjanan</p>
      </div>
      <div class="float-end">
        <!-- p>
          Crafted with
          <span class="text-danger"
            ><i class="bi bi-heart-fill icon-mid"></i
          ></span>
          by <a href="https://saugi.me">Saugi</a>
        </p -->
      </div>
    </div>
  </footer>
{% endblock %}
{% block script %}
<script src="{% static 'js/components/dark.js' %}"></script>
<script src="{% static 'extensions/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'compiled/js/app.js' %}"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<script type="text/javascript">
  $('#id_date').val('{{weight.date|date:"Y-m-d"}}');

  if('{{weight.site}}' != 'None'){
    $("#select_site").append(new Option('{{weight.site.base_site_name}}', '{{weight.site.base_site_id}}'));
    $('#select_site option:contains("{{weight.site.base_site_name}}")').prop('selected', true);
  }

  if('{{weight.car_team}}' != 'None'){
    $("#select_team").append(new Option('{{weight.car_team.car_team_name}}', '{{weight.car_team.car_team_id}}'));
    $('#select_team option:contains("{{weight.car_team.car_team_name}}")').prop('selected', true);
  }


  $('#id_mill_name option:contains("{{weight.mill_name}}")').prop('selected', true);
  $('#id_stone_type_name option:contains("{{weight.stone_type_name}}")').prop('selected', true);
  $('#id_stone_color option:contains("{{weight.stone_color}}")').prop('selected', true);
  $('#id_scoop_name option:contains("{{weight.scoop_name}}")').prop('selected', true);
  $('#id_transport option:contains("{{weight.transport}}")').prop('selected', true);

  setDataRadio();
  setDataCustomer();
  searchNumCalQ();

  "{% if is_edit_weight %}"
    $("#id_car_registration_name").attr('readonly', false);
    $("#id_weight_in").attr('readonly', false);
    $("#id_weight_out").attr('readonly', false);
    $("#id_weight_total").attr('readonly', false);
    $("#id_q").attr('readonly', false);
  "{% else %}"
    $("#id_car_registration_name").attr('readonly', true);
    $("#id_weight_in").attr('readonly', true);
    $("#id_weight_out").attr('readonly', true);
    $("#id_weight_total").attr('readonly', true);
    $("#id_q").attr('readonly', true);
  "{% endif %}"

  // BEFORE form submission
  $('form').submit(function() {
    customer_id = $('#id_customer').val();
    if(customer_id == '09-V-001' || customer_id == '99'){
        $('#id_weight_in').val('0.000');
        $('#id_weight_out').val('0.000');
        $('#id_weight_total').val('0.000');
        $('#id_is_cancel').prop( "checked", true );
    }else{
        $('#id_is_cancel').prop( "checked", false );
    }
    //set data to id
    $("#id_site").val($("#select_site").val());
    $("#id_car_team").val($("#select_team").val());
    setDataEmptyName("#select_site", "#id_site_name");
    setDataEmptyName("#select_team", "#id_car_team_name");

    setDataEmptyName("#id_mill", "#id_mill_name");
    setDataEmptyName("#id_stone_type", "#id_stone_type_name");
    setDataEmptyName("#id_scoop", "#id_scoop_name");

    //set data radio
    //pay
    var pay_val = $('input[name="pay_group"]:checked').val();
    if(pay_val == undefined)
      $("#id_pay").val("");
    else
      $("#id_pay").val(pay_val);

    //clean
    var clean_val = $('input[name="clean_group"]:checked').val();
    if(clean_val == undefined)
      $("#id_clean_type").val("");
    else
      $("#id_clean_type").val(clean_val);

    //vat 
    $("#id_vat_type").val($('input[name="vat_type_group"]:checked').val());
  });

  var stateP1 = false;
  function radiostateP1(element){
    if(stateP1 == false) {
      element.checked = true;
      stateP1 = true;
    }else{
      element.checked = false;
      stateP1 = false;
    }
  }

  var stateP2 = false;
  function radiostateP2(element){
    if(stateP2 == false) {
      element.checked = true;
      stateP2 = true;
    }else{
      element.checked = false;
      stateP2 = false;
    }
  }

  var stateP3 = false;
  function radiostateP3(element){
    if(stateP3 == false) {
      element.checked = true;
      stateP3 = true;
    }else{
      element.checked = false;
      stateP3 = false;
    }
  }

  var stateCg1 = false;
  function radiostateCg1(element){
    if(stateCg1 == false) {
      element.checked = true;
      stateCg1 = true;
    }else{
      element.checked = false;
      stateCg1 = false;
    }
  }

  var stateCg2 = false;
  function radiostateCg2(element){
    if(stateCg2 == false) {
      element.checked = true;
      stateCg2 = true;
    }else{
      element.checked = false;
      stateCg2 = false;
    }
  }

  var stateCg3 = false;
  function radiostateCg3(element){
    if(stateCg3 == false) {
      element.checked = true;
      stateCg3 = true;
    }else{
      element.checked = false;
      stateCg3 = false;
    }
  }

  function setDataEmptyName(fk, name){
    if($(fk+" option:selected").index() > 0) {
      $(name).val($(fk).find(":selected").text());
    }else{
      $(name).val("");
    }
  }

  function setDataRadio(){
    $('input[name="pay_group"][value="{{weight.pay}}"]').prop("checked", true);
    $('input[name="clean_group"][value="{{weight.clean_type}}"]').prop("checked", true);
    $('input[name="vat_type_group"][value="{{weight.vat_type}}"]').prop("checked", true);
  }

  $( function() {
      $( "#id-form-customer" ).autocomplete({
        source: '{% url "autocompalteCustomer" %}',
        minLength: 1,
      });
  } );

  function searchDataCustomer(){
        var tempSite = $("#id_site").val();

        if($('#id-form-customer').val() != ""){
          var str = $('#id-form-customer').val();
          var items = str.split( ":" );
          var idInput = items[0];
            // Create Ajax Call
            if(idInput){
                $('#id_customer').val(items[0]);
                $('#id_customer_name').val(items[1]);
                //set id_distributor
                $.ajax({
                url: '{% url "searchDataCustomer" %}',
                data: {
                        'customer_id': idInput,
                        'weight_id': "{{weight.weight_id}}",
                    },
                dataType: 'json',
                success: function (data) {
                    if (data.site_list) {
                            $("#select_site").find('option').not(':first').remove();
                            //set option 
                            for(var i = 0; i < data.site_list.length; i++){
                                $("#select_site").append(new Option(data.site_list[i].site__base_site_name, data.site_list[i].site__base_site_id));
                            }
                    }
                    $('#select_site option[value="'+tempSite +'"]').attr('selected','selected');
                }
                });
            }
            return false;
        }else{
            $("#select_site").find('option').not(':first').remove();
        }
  }

  function searchNumCalQ(){
    if($('#id_stone_type').val() != ""){
        var idInput = $('#id_stone_type').val();

        // Create Ajax Call
        if(idInput){
            $.ajax({
                url: '{% url "searchNumCalQ" %}',
                data: {
                    'stone_type_id': idInput,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.val) {
                      calculateQ(data.val);
                    }else{
                      calculateQ(0.0);
                    }
                }
            });
        }
        return false;
    }
  }

  function setDataCustomer(){
    if($('#id_customer').val() != ""){
        var idInput = $('#id_customer').val();
        // Create Ajax Call
        if(idInput){
            $.ajax({
                url: '{% url "setDataCustomer" %}',
                data: {
                    'customer_id': idInput,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.val) {
                        $('#id-form-customer').val(data.val);
                    }
                }
            });
        }
        return false;
    }
  }

  function setDataCarryType(){
    if($('#id_transport').val() != ""){
        var idInput = $('#id_transport').val();
        // Create Ajax Call
        if(idInput){
            $.ajax({
                url: '{% url "setDataCarryType" %}',
                data: {
                    'transport_id': idInput,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.val) {
                        $('#id_carry_type_name').val(data.val);
                    }
                }
            });
        }
        return false;
    }else{
      $('#id_carry_type_name').val("");
    }
  }

  $("#select_site").change(function(){
    $("#id_site").val($(this).val());
    $("#id_site_name").val($(this).find(":selected").text());
  });

  $("#id_stone_type").change(function(){
    searchNumCalQ();
  });

  $("#id_transport").change(function(){
    setDataCarryType();
  });

  $('input[name="vat_type_group"]').change(function(){
    calculateAll();
  });
  
  $("#id_price_per_ton").on( "keyup", function() {
    calculateAll();
  } );

  $("#id_price_per_ton").blur(function(){
    tmp = parseFloat($(this).val());
    $(this).val(tmp.toFixed(2));
  });

  $("#id_weight_total").blur(function(){
    tmp = parseFloat($(this).val());
    $(this).val(tmp.toFixed(3));

    calculateAll();
  });

  $("#id_weight_in, #id_weight_out").blur(function(){
    calculateWeightTotal();
    calculateAll();
    searchNumCalQ();
  });

  function twoDecimal(number){
    return Math.round(number * 100) / 100;
  }

  function calculateAll(){
    vat_type = $('input[name="vat_type_group"]:checked').val();

    var weight_total = $('#id_weight_total').val();
    var price_per_ton = $('#id_price_per_ton').val();
    if(weight_total && price_per_ton){
      var amount = parseFloat(weight_total) * parseFloat(price_per_ton) ;
      var vat = (amount * 7)/100;
      var amount_vat = vat + amount;

      if(vat_type == 'รวมภาษี'){
        $('#id_amount').val(twoDecimal(amount).toFixed(2));
        $('#id_amount_vat').val(twoDecimal(amount).toFixed(2));
        $('#id_vat').val('0.00');
      }else if(vat_type == 'ไม่รวมภาษี'){
        $('#id_amount').val(twoDecimal(amount).toFixed(2));
        $('#id_amount_vat').val(twoDecimal(amount_vat).toFixed(2));
        $('#id_vat').val(twoDecimal(vat).toFixed(2));
      }
    }
  }

  function calculateWeightTotal(){
    if($('#id_weight_in').val() && $('#id_weight_out').val()){
      weight_in = parseFloat($('#id_weight_in').val());
      weight_out = parseFloat($('#id_weight_out').val());
        weight_total = weight_out - weight_in;
        $('#id_weight_in').val(weight_in.toFixed(3));
        $('#id_weight_out').val(weight_out.toFixed(3));
        $('#id_weight_total').val(weight_total.toFixed(3));
    }
  }

  $("#id_stone_type").change(function(){
    searchNumCalQ();
  });

  function calculateQ(num_cal_q){
    if (num_cal_q == 0.0){
      $("#id_q").val('0.00');
    }else{
      var weight_total =  parseFloat($("#id_weight_total").val());
      var num_q = weight_total / num_cal_q;
      $("#id_q").val(num_q.toFixed(2));
    }
  }


  $("#id_scoop").change(function(){
    $("#id_scoop_name").val($(this).find(":selected").text());
  });

  $("#id_mill").change(function(){
    $("#id_mill_name").val($(this).find(":selected").text());
  });

  $("#id_stone_type").change(function(){
    $("#id_stone_type_name").val($(this).find(":selected").text());
  });


  $("#id_car_registration_name").on( "keyup", function() {
    searchTeamFromCar();
  } );

  $("#id_car_registration_name").blur(function(){
    searchTeamFromCar();
  });

  function searchTeamFromCar(){
    var tempTeam = $("#id_car_team").val();

    if($('#id_car_registration_name').val() != ""){
        var idInput = $('#id_car_registration_name').val();
        // Create Ajax Call
        if(idInput){
            $.ajax({
                url: '{% url "searchTeamFromCar" %}',
                data: {
                    'car_registration_name': idInput,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.team_list) {
                            $("#select_team").find('option').not(':first').remove();
                            //set option 
                            for(var i = 0; i < data.team_list.length; i++){
                                $("#select_team").append(new Option(data.team_list[i].base_car_team__car_team_name, data.team_list[i].base_car_team__car_team_id));
                            }
                    }
                    $('#select_team option[value="'+tempTeam +'"]').attr('selected','selected');
                }
            });
        }
        return false;
    }else{
      $("#select_team").find('option').not(':first').remove();
    }
  }


</script>
{% endblock %}