{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STG Weight Center</title>

    <link rel="shortcut icon" href="{% static 'icon/favicon-96x96.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icon/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'icon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{% static 'extensions/simple-datatables/style.css' %}" />
    <link rel="stylesheet" href="{% static 'compiled/css/table-datatable.css' %}" />
    <link rel="stylesheet" href="{% static 'compiled/css/app.css' %}" />
    <link rel="stylesheet" href="{% static 'compiled/css/app-dark.css' %}" />
    <link rel="stylesheet" href="{% static 'compiled/css/iconly.css' %}" />

    {% block css %}
    {% endblock %}
  </head>

  <body>
    <script src="{% static 'js/initTheme.js' %}"></script>
    <div id="app">
      <div id="sidebar">
        <div class="sidebar-wrapper active">
          <div class="sidebar-header position-relative">
            <div class="d-flex justify-content-between align-items-center">
              <div class="logo">
                <a href="{% url 'home' %}">
                  <i class="fa-solid fa-scale-unbalanced-flip fa-bounce fa-xs"></i>Weight
                </a>
              </div>
              <div class="theme-toggle d-flex gap-1 align-items-center mt-1">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  aria-hidden="true"
                  role="img"
                  class="iconify iconify--system-uicons"
                  width="20"
                  height="20"
                  preserveAspectRatio="xMidYMid meet"
                  viewBox="0 0 21 21"
                >
                  <g
                    fill="none"
                    fill-rule="evenodd"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path
                      d="M10.5 14.5c2.219 0 4-1.763 4-3.982a4.003 4.003 0 0 0-4-4.018c-2.219 0-4 1.781-4 4c0 2.219 1.781 4 4 4zM4.136 4.136L5.55 5.55m9.9 9.9l1.414 1.414M1.5 10.5h2m14 0h2M4.135 16.863L5.55 15.45m9.899-9.9l1.414-1.415M10.5 19.5v-2m0-14v-2"
                      opacity=".3"
                    ></path>
                    <g transform="translate(-210 -1)">
                      <path d="M220.5 2.5v2m6.5.5l-1.5 1.5"></path>
                      <circle cx="220.5" cy="11.5" r="4"></circle>
                      <path
                        d="m214 5l1.5 1.5m5 14v-2m6.5-.5l-1.5-1.5M214 18l1.5-1.5m-4-5h2m14 0h2"
                      ></path>
                    </g>
                  </g>
                </svg>
                <div class="form-check form-switch fs-6">
                  <input
                    class="form-check-input me-0"
                    type="checkbox"
                    id="toggle-dark"
                    style="cursor: pointer"
                  />
                  <label class="form-check-label"></label>
                </div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  aria-hidden="true"
                  role="img"
                  class="iconify iconify--mdi"
                  width="20"
                  height="20"
                  preserveAspectRatio="xMidYMid meet"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="currentColor"
                    d="m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3l3.19.09m3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95l2.06.05m-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31Z"
                  ></path>
                </svg>
              </div>
              <div class="sidebar-toggler x">
                <a href="#" class="sidebar-hide d-xl-none d-block"
                  ><i class="bi bi-x bi-middle"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="sidebar-menu">
            {% if request.user.is_authenticated %}
              <ul class="menu">
                {% for tab in visible_tab %}
                  {% if 'Dashboard' in tab.name %}
                  <li class="sidebar-title">Menu</li>

                    <li class="sidebar-item {{dashboard_page}}">
                      <a href="{% url 'home' %}" class="sidebar-link">
                        <i class="bi bi-grid-fill"></i>
                        <span>Dashboard</span>
                      </a>
                    </li>
                  {%endif%}
                  {% if 'WeightTable' in tab.name %}
                  <li class="sidebar-item {{weightTable_page}}">
                    <a href="{% url 'weightTable' %}" class="sidebar-link">
                      <i class="fa-solid fa-table"></i>
                      <span>Weight Table</span>
                    </a>
                  </li>
                  {% endif %}

                  {% if 'Production' in tab.name %}
                    <li class="sidebar-item {{production_page}}">
                      <a href="{% url 'viewProduction' %}" class="sidebar-link">
                        <i class="fa-solid fa-industry"></i>
                        <span>Production</span>
                      </a>
                    </li>
                  {% endif %}
                  {% if 'Estimate' in tab.name %}
                    <li class="sidebar-item {{stone_estimate_page}}">
                      <a href="{% url 'viewStoneEstimate' %}" class="sidebar-link">
                        <i class="fa-brands fa-think-peaks"></i>
                        <span>Estimate</span>
                      </a>
                    </li>
                  {% endif %}

                  {% if 'Setting' in tab.name %}
                  <li class="sidebar-title">Manage</li>

                    <li class="sidebar-item has-sub {{setting_page}}">
                      <a href="#" class="sidebar-link">
                        <i class="fa-solid fa-gears"></i>
                        <span>Setting</span>
                      </a>

                      <ul class="submenu">
                        <li class="submenu-item {{setting_base_job_type_page}}">
                          <a href="{% url 'settingBaseJobType' %}" class="submenu-link"
                            >ข้อมูลประเภทงานของลูกค้า</a
                          >
                        </li>
                        <li class="submenu-item {{setting_base_customer_page}}">
                          <a href="{% url 'settingBaseCustomer' %}" class="submenu-link"
                            >ข้อมูลลูกค้า</a
                          >
                        </li>
                        
                        <li class="submenu-item {{setting_base_site_page}}">
                          <a href="{% url 'settingBaseSite' %}" class="submenu-link"
                            >ข้อมูลปลายทาง</a
                          >
                        </li>
                        <li class="submenu-item {{setting_base_customer_site_page}}">
                          <a href="{% url 'settingBaseCustomerSite' %}" class="submenu-link"
                            >ข้อมูลลูกค้าและปลายทาง</a
                          >
                        </li>

                        <li class="submenu-item {{setting_base_mill_page}}">
                          <a href="{% url 'settingBaseMill' %}" class="submenu-link"
                            >ข้อมูลต้นทาง</a
                          >
                        </li>

                        <li class="submenu-item {{setting_base_stone_type_page}}">
                          <a href="{% url 'settingBaseStoneType' %}" class="submenu-link"
                            >ข้อมูลชนิดหิน</a
                          >
                        </li>

                        <li class="submenu-item {{setting_base_car_team_page}}">
                          <a href="{% url 'settingBaseCarTeam' %}" class="submenu-link"
                            >ข้อมูลทีม</a
                          >
                        </li>

                        <li class="submenu-item {{setting_base_car_page}}">
                          <a href="{% url 'settingBaseCar' %}" class="submenu-link"
                            >ข้อมูลรถร่วมและทีม</a
                          >
                        </li>

                        <li class="submenu-item {{setting_base_scoop_page}}">
                          <a href="{% url 'settingBaseScoop' %}" class="submenu-link"
                            >ข้อมูลผู้ตัก</a
                          >
                        </li>

                        <li class="submenu-item {{setting_base_driver_page}}">
                          <a href="{% url 'settingBaseDriver' %}" class="submenu-link"
                            >ข้อมูลผู้ขับ (ผลิต)</a
                          >
                        </li>

                        <li class="submenu-item {{setting_base_car_registration_page}}">
                          <a href="{% url 'settingBaseCarRegistration' %}" class="submenu-link"
                            >ข้อมูลทะเบียนรถ (ผลิต)</a
                          >
                        </li>
                      </ul>
                      {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
      <div id="main">
        <!-- Scrollable Tab CPT*เลือกตามบริษัท-->
        {% if request.user.is_authenticated %}
          <div class="my-3">
            <div class="scroller scroller-left float-start mt-2"><i class="bi bi-caret-left-fill"></i></div>
            <div class="scroller scroller-right float-end mt-2"><i class="bi bi-caret-right-fill"></i></div>
            <div class="wrapper-nav">
                <nav class="nav nav-tabs list mt-2" id="myTab" role="tablist">
                  {% for tab in company_tab %}
                    {% if 'ALL' in tab.code %}
                      <a id="{{tab.code}}" class="nav-item nav-link pointer {{ALL}} {{disabledTab}}" data-bs-toggle="tab" data-bs-target="#tab1" role="tab" aria-controls="public" aria-selected="true" onClick="setCompany('{{tab.code}}')">{{tab.code}}-{{tab.name}}</a>
                    {%endif%}
                    {% if 'SLC' in tab.code %}
                      <a id="{{tab.code}}" class="nav-item nav-link pointer {{SLC}} {{disabledTab}}" role="tab" data-bs-toggle="tab" onClick="setCompany('{{tab.code}}')">{{tab.code}}-{{tab.name}}</a>
                    {%endif%}
                    {% if 'JOB' in tab.code %}
                      <a id="{{tab.code}}" class="nav-item nav-link pointer {{JOB}} {{disabledTab}}" role="tab" data-bs-toggle="tab" onClick="setCompany('{{tab.code}}')">{{tab.code}}-{{tab.name}}</a>
                    {%endif%}
                    {% if 'CTM' in tab.code %}
                    <a id="{{tab.code}}" class="nav-item nav-link pointer {{CTM}} {{disabledTab}}"  role="tab" data-bs-toggle="tab" onClick="setCompany('{{tab.code}}')">{{tab.code}}-{{tab.name}}</a>
                    {%endif%}
                  {%endfor%}
                </nav>
            </div>
          </div>
        {%endif%}
        <!-- End Scrollable Tab-->
        {% block content %}
        {% endblock %}
        <!--footer>
          <div class="footer clearfix mb-0 text-muted">
            <div class="float-start">
              <p>2023 &copy; Nitjanan</p>
            </div>
            <div class="float-end">
              <p>
                Crafted with
                <span class="text-danger"
                  ><i class="bi bi-heart-fill icon-mid"></i
                ></span>
                by <a href="https://saugi.me">Saugi</a>
              </p>
            </div>
          </div>
        </footer-->
      </div>
    </div>

    <script src="https://kit.fontawesome.com/fdd38baacb.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>

    <!-- Bootstrap Framework -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

    <script src="{% static 'js/nav/bootstrap-nav-paginator.jquery.min.js' %}"></script>
    <!-- As A Vanilla JS Plugin -->
    <script src="{% static 'js/nav/bootstrap-nav-paginator.min.js' %}"></script>

    <!-- CSS3 backed JavaScript animation framework -->
    <script src="{% static 'js/move/move.min.js' %}"></script>

    <!-- scrollable-tabs framework -->
    <link href="{% static 'css/scrolling/scrollable-tabs.css' %}" rel="stylesheet" />
    <script src="{% static 'js/scrolling/scrollable-tabs.js' %}"></script>

    <!-- tabSidebar -->
    <script src="{% static 'js/tabSidebar/tab.js' %}"></script>

    {% block script %}

    {% endblock %}
  </body>
</html>
