{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load templatehelpers %}

{% block css %}
<style>
.red-text {
  color: red;
}
.apexcharts-datalabel-value{
  fill: #737CA1;
  font-weight : 600 ;
}
</style>
{% endblock %}

{% block content %}
<header class="mb-3">
  <a href="#" class="burger-btn d-block d-xl-none">
    <i class="bi bi-justify fs-3"></i>
  </a>
</header>

<div class="page-heading">
  <div class="row">
    <div class="col-7">
      <h3>Weight Statistics</h3>
    </div>
    <div class="col-4">
      <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
        <i class="fa fa-calendar"></i>&nbsp;
        <span></span> <i class="fa fa-caret-down"></i>
      </div>
      <input type="text" id="db_start_date" name="db_start_date" class="d-none">
      <input type="text" id="db_end_date" name="db_end_date" class="d-none">
    </div>
    <div class="col-1">
      <a class="btn btn-light" onClick="setDateInDashbord()"><i class="fa-solid fa-magnifying-glass"></i></a>
    </div>
  </div>
</div>
<div class="page-content">
  <section class="row">
    <div class="col-12 col-lg-9">
    {% for dt in data_sum_produc %}
      {% if forloop.first or forloop.counter0|divisibleby:4 %}
        <div class="row">
      {% endif %}

      <div class="col-6 col-md-3 col-lg-3">
        <div class="card">
          <div class="card-body px-2 py-1-5">
            <div class="row">
              <div class="col-4 col-md-12 col-xxl-3 d-flex justify-content-start">
                <div class="avatar avatar-lg">
                  <img src="{% static 'images/stone/4080.jpg' %}" />
                </div>
              </div>
              <div class="col-8 col-md-12 col-xxl-9">
                <h6 class="text-muted font-semibold">{{ dt.0 }}</h6>
                <h6 class="font-extrabold mb-0">
                  {% if dt.1 %}
                    {{ dt.1|floatformat:2|intcomma }}
                  {% else %}
                    0
                  {% endif %} ตัน
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% if forloop.counter|divisibleby:4 or forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>ยอดสะสมประจำเดือน</h4>
            </div>
            <div class="card-body">
              <!--div id="chart-profile-visit"></div-->
              <!--canvas id="stoneTypeChart" width="300" height="200"></canvas-->
              <div id="chart-stone"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-xl-6">
          <div class="card">
            <div class="card-header">
              <h4>ยอด Stock ประจำเดือน</h4>
            </div>
            <div class="card-body">
              <div id="chart-stock"></div>
            </div>
          </div>
        </div>        
        <div class="col-12 col-xl-6">
          <div class="card">
            <div class="card-header">
              <h4>เป้าผลิตสะสมประจำเดือน</h4>
            </div>
            <div class="card-body">
              <div id="chart-mill"></div>
              <!--div class="row">
                <div class="col-7">
                  <div class="d-flex align-items-center">
                    <svg
                      class="bi text-primary"
                      width="32"
                      height="32"
                      fill="blue"
                      style="width: 10px"
                    >
                      <use
                        xlink:href="{% static 'images/bootstrap-icons.svg#circle-fill'%}"
                      />
                    </svg>
                    <h5 class="mb-0 ms-3">Europe</h5>
                  </div>
                </div>
                <div class="col-5">
                  <h5 class="mb-0 text-end">862</h5>
                </div>
                <div class="col-12">
                  <div id="chart-europe"></div>
                </div>
              </div-->
              <!--div class="row">
                <div class="col-7">
                  <div class="d-flex align-items-center">
                    <svg
                      class="bi text-success"
                      width="32"
                      height="32"
                      fill="blue"
                      style="width: 10px"
                    >
                      <use
                        xlink:href="{% static 'images/bootstrap-icons.svg#circle-fill' %}"
                      />
                    </svg>
                    <h5 class="mb-0 ms-3">America</h5>
                  </div>
                </div>
                <div class="col-5">
                  <h5 class="mb-0 text-end">375</h5>
                </div>
                <div class="col-12">
                  <div id="chart-america"></div>
                </div>
              </div-->
              <!--div class="row">
                <div class="col-7">
                  <div class="d-flex align-items-center">
                    <svg
                      class="bi text-danger"
                      width="32"
                      height="32"
                      fill="blue"
                      style="width: 10px"
                    >
                      <use
                        xlink:href="{% static 'images/bootstrap-icons.svg#circle-fill' %}"
                      />
                    </svg>
                    <h5 class="mb-0 ms-3">Indonesia</h5>
                  </div>
                </div>
                <div class="col-5">
                  <h5 class="mb-0 text-end">1025</h5>
                </div>
                <div class="col-12">
                  <div id="chart-indonesia"></div>
                </div>
              </div-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="card">
        <div class="card-body py-4 px-4">
          <div class="d-flex align-items-center">
            <div class="avatar avatar-xl">
              <img src="{% static 'compiled/jpg/user3.jpg'%}" alt="Face 1" />
            </div>
            {% if request.user.is_authenticated %}
            <div class="ms-3 name">
              <h5 class="font-bold">{{request.user}}</h5>
              <h6 class="text-muted mb-0"><a href="{% url 'logout' %}">Logout</a></h6>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card" style="height: 32rem;">
        <div class="card-header">
          <h4>รายงานประจำเดือน</h4>
        </div>
        <div class="card-content pb-2">
          <div class="recent-message d-flex px-4">
            <button id="sd_download-btn" class="btn btn-warning rounded-pill btn-block" style="position: relative; overflow: hidden;">
              <span id="sd_btn-text">ยอดขายตามประเภทหินรายวัน</span>
              <div id="sd_btn-progress" 
                  style="position: absolute; left: 0; top: 0; height: 100%; width: 0%; 
                          background: rgba(255,255,255,0.4); transition: width 0.1s;"></div>
              <span id="sd_btn-percent" style="position: absolute; left: 50%; top: 50%; 
                    transform: translate(-50%, -50%); font-weight: bold; display: none;">
                  0%
              </span>
            </button>
          </div>
          <div class="recent-message d-flex px-4 py-2">
            <button id="sm_download-btn" class="btn btn-danger rounded-pill btn-block" style="position: relative; overflow: hidden;">
              <span id="sm_btn-text">ยอดขายตามประเภทหินรายเดือน</span>
              <div id="sm_btn-progress" 
                  style="position: absolute; left: 0; top: 0; height: 100%; width: 0%; 
                          background: rgba(255,255,255,0.4); transition: width 0.1s;"></div>
              <span id="sm_btn-percent" style="position: absolute; left: 50%; top: 50%; 
                    transform: translate(-50%, -50%); font-weight: bold; display: none;">
                  0%
              </span>
            </button>
          </div>

          <div class="recent-message d-flex px-4 py-2">
            <button id="ts_download-btn" class="btn rounded-pill btn-block" style="position: relative; overflow: hidden; background-color: #901347;color: #fff;">
              <span id="ts_btn-text">ยอดขนไปจำหน่ายตามประเภทหินประจำวัน</span>
              <div id="ts_btn-progress" 
                  style="position: absolute; left: 0; top: 0; height: 100%; width: 0%; 
                          background: rgba(255,255,255,0.4); transition: width 0.1s;"></div>
              <span id="ts_btn-percent" style="position: absolute; left: 50%; top: 50%; 
                    transform: translate(-50%, -50%); font-weight: bold; display: none;">
                  0%
              </span>
            </button>
          </div>

          <div class="recent-message d-flex px-4 py-2">
          <button id="pd_download-btn" class="btn btn-success rounded-pill btn-block" style="position: relative; overflow: hidden;">
              <span id="pd_btn-text">บันทึกปฏิบัติการงานโรงโม่</span>
              <div id="pd_btn-progress" 
                  style="position: absolute; left: 0; top: 0; height: 100%; width: 0%; 
                          background: rgba(255,255,255,0.4); transition: width 0.1s;"></div>
              <span id="pd_btn-percent" style="position: absolute; left: 50%; top: 50%; 
                    transform: translate(-50%, -50%); font-weight: bold; display: none;">
                  0%
              </span>
          </button>
          </div>
          <div class="recent-message d-flex px-4 py-2">
            <button id="st_download-btn" class="btn rounded-pill btn-block" style="position: relative; overflow: hidden; background-color:#8e44ad ;color: white;">
                <span id="st_btn-text">รายงาน Stock หิน</span>
                <div id="st_btn-progress" 
                    style="position: absolute; left: 0; top: 0; height: 100%; width: 0%; 
                            background: rgba(255,255,255,0.4); transition: width 0.1s;"></div>
                <span id="st_btn-percent" style="position: absolute; left: 50%; top: 50%; 
                      transform: translate(-50%, -50%); font-weight: bold; display: none;">
                    0%
                </span>
            </button>
          </div>
          <div class="recent-message d-flex px-4 py-2">
            <a href="{% url 'summaryProduction' %}" class="btn btn-primary rounded-pill btn-block">Performance การผลิต</a>
          </div>
          <div class="recent-message d-flex px-4 py-2">
            <button id="et_download-btn" class="btn btn-info rounded-pill btn-block" style="position: relative; overflow: hidden;">
                <span id="et_btn-text">รายงานผลิตหินประจำวัน</span>
                <div id="et_btn-progress" 
                    style="position: absolute; left: 0; top: 0; height: 100%; width: 0%; 
                            background: rgba(255,255,255,0.4); transition: width 0.1s;"></div>
                <span id="et_btn-percent" style="position: absolute; left: 50%; top: 50%; 
                      transform: translate(-50%, -50%); font-weight: bold; display: none;">
                    0%
                </span>
            </button>
          </div>
          <div class="recent-message d-flex px-4 py-2">
            <a href="{% url 'monthlyProduction' %}" class="btn btn-secondary rounded-pill btn-block">รายงานผลิตรายเดือน</a>
          </div>
        </div>
        <!-- div class="card-content pb-4">
          <div class="recent-message d-flex px-4 py-3">
            <div class="avatar avatar-lg">
              <img src="{% static 'compiled/jpg/4.jpg' %}" />
            </div>
            <div class="name ms-4">
              <h5 class="mb-1">Hank Schrader</h5>
              <h6 class="text-muted mb-0">@johnducky</h6>
            </div>
          </div>
          <div class="recent-message d-flex px-4 py-3">
            <div class="avatar avatar-lg">
              <img src="{% static 'compiled/jpg/6.jpg' %}" />
            </div>
            <div class="name ms-4">
              <h5 class="mb-1">Dean Winchester</h5>
              <h6 class="text-muted mb-0">@imdean</h6>
            </div>
          </div>
          <div class="recent-message d-flex px-4 py-3">
            <div class="avatar avatar-lg">
              <img src="{% static 'compiled/jpg/1.jpg' %}" />
            </div>
            <div class="name ms-4">
              <h5 class="mb-1">John Dodol</h5>
              <h6 class="text-muted mb-0">@dodoljohn</h6>
            </div>
          </div>
          <div class="px-4">
            <button
              class="btn btn-block btn-xl btn-outline-primary font-bold mt-3"
            >
              Start Conversation
            </button>
          </div>
        </div-->
      </div>
      <div class="card">
        <div class="card-header">
          <h4>เวลาในการสูญเสีย</h4>
        </div>
        <div class="card-body">
          <!--div id="chart-visitors-profile"></div-->
          <div id="chart-weight-loss">
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="footer clearfix mb-0 text-muted">
      <div class="float-start">
        <p>2023 &copy; Nitjanan</p>
      </div>
      <div class="float-end">
        <!-- p>
          Crafted with
          <span class="text-danger"
            ><i class="bi bi-heart-fill icon-mid"></i
          ></span>
          by <a href="https://saugi.me">Saugi</a>
        </p -->
      </div>
    </div>
  </footer>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/components/dark.js' %}"></script>
<script src="{% static 'extensions/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>

<script src="{% static 'compiled/js/app.js' %}"></script>

<!-- Need: Apexcharts -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<!--script src="{% static 'extensions/apexcharts/apexcharts.min.js' %}"></script-->
<script src="{% static 'js/pages/dashboard.js' %}"></script>

<!-- DataTable -->
<script src="{% static 'extensions/simple-datatables/umd/simple-datatables.js' %}"></script>
<script src="{% static 'js/pages/simple-datatables.js' %}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- tabSidebar -->
<script src="{% static 'js/tabSidebar/tab.js' %}"></script>

<!-- Predefined Date Ranges -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script type="text/javascript">
  /* old basic colunm chart
  var optionsStone = {
      series: [{
          name: 'sell',
          data: {{sell_list|safe}}
        }, {
          name: 'produce',
          data: {{produce_list|safe}}
        },
        {
          name: 'purchase',
          data: {{purchase_list|safe}}
        },
      ],
        chart: {
        type: 'bar',
        height: 350
      },
        colors:[
          'rgba(255, 99, 132, 0.8)',
          'rgba(255, 206, 86, 0.8)',
          'rgba(75, 192, 192, 0.8)',
          'rgba(153, 102, 255, 0.8)',
          'rgba(255, 159, 64, 0.8)',
        ],
        plotOptions: {
          bar: {
            horizontal: false,
            columnWidth: '55%',
            endingShape: 'rounded'
          },
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          show: true,
          width: 2,
          colors: ['transparent']
        },
        xaxis: {
          categories: {{stone_name_list|safe}},
        },
        yaxis: {
          title: {
            text: 'stone weight total on mounth'
          },
          labels: {
            formatter: function (value) {
              return value.toLocaleString() + " ตัน";
            }
          }
        },
        fill: {
          opacity: 1
        },
        tooltip: {
          y: {
            formatter: function (val) {
              return  val.toLocaleString() + " ตัน"
            }
          }
        }
  };
  */

  //ขาย
  var sell_mill = {{sell_mill_list|safe}};
  var sell_stock = {{sell_stock_list|safe}};
  var sell_purchase = {{sell_purchase_list|safe}};
  var totalSellPerCategory = {{total_sell_list|safe}};
  //ผลิต
  var produce = {{produce_list|safe}};
  var totalProducePerCategory = {{produce_list|safe}};
  //ชนิดหิน
  var categories = {{stone_name_list|safe}};

  /*
  // Calculate totals per category
  var totalSellPerCategory = categories.map((_, index) => 
    (sell_mill[index] || 0) + (sell_stock[index] || 0) + (sell_purchase[index] || 0)
  );
  var totalProducePerCategory = categories.map((_, index) => 
    (produce[index] || 0)
  );
  var totalStackPerCategory = categories.map((_, index) => 
    totalSellPerCategory[index] + totalProducePerCategory[index]
  );
  */


  // Generate annotations dynamically
  var annotations = categories.map((category, index) => {
    let sellY = totalSellPerCategory[index]; // Midpoint of the sell group
    let produceY = totalProducePerCategory[index];

    /* เลื่อนแกน X
    let produceY;
    if (sellY - tmpProduceY < 400 && tmpProduceY > 600) {
        produceY = totalProducePerCategory[index] - 600;
    } else {
        produceY = totalProducePerCategory[index];
    }
    */

    return [
      {
        x: category,
        y: sellY,  // Midpoint of sell group
        seriesIndex: 1,
        label: {
          text: (totalSellPerCategory[index] == '0') ? '' : totalSellPerCategory[index].toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 }),
          style: {
            color: 'red',
            fontWeight: 'bold',
            fontSize: '12px',
            padding: 5
          }
        },
        marker: {
          size: -1 // Hides the dot
        }
      },
      {
        x: category,
        seriesIndex: 2,
        y: produceY,  // Above the full stack
        label: {
          text: (totalProducePerCategory[index] == '0') ? '' : totalProducePerCategory[index].toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 }),
          style: {
            color: '#e67e22',
            fontWeight: 'bold',
            fontSize: '12px',
            padding: 5
          }
        },
        marker: {
          size: -1 // Hides the dot
        }
      }
    ];
  }).flat(); // Flatten the array for ApexCharts

  var optionsStone = {
    series: [
      { name: 'ขายจากโรงโม่', group: 'sell', data: sell_mill },
      { name: 'ขายจากสต๊อก', group: 'sell', data: sell_stock },
      { name: 'ขายจากซื้อ', group: 'sell', data: sell_purchase },
      { name: 'ยอดผลิต', group: 'produce', data: produce },
    ],
    chart: {
      type: 'bar',
      height: 350,
      stacked: true,
    },
    title: {
            text: 'ยอดขายรวม: {{ sell_total|floatformat:2|intcomma }} ตัน | ยอดผลิตรวม: {{ produce_total|floatformat:2|intcomma }} ตัน',
            align: 'center',
            style: {
                fontSize: '16px',
                fontWeight: 'bold',
                color : '#85929e'
            }
    },
    stroke: {
      width: 0.5,
      colors: ['#fff']
    },
    dataLabels: {
      formatter: (val) => (val / 1000).toFixed(2) + 'K',
      enabled: false,
      style: { colors: ['#85929e'] }
    },
    plotOptions: { bar: { borderRadius: 2, horizontal: false } },
    xaxis: { categories: categories },
    fill: { opacity: 1 },
    colors: [
      'rgba(255, 99, 132, 0.8)',
      'rgba(75, 192, 192, 0.8)',
      'rgba(153, 102, 255, 0.8)',
      'rgba(255, 206, 86, 0.8)',
    ],
    yaxis: {
      labels: {
        formatter: (val) => val.toLocaleString() + ' ตัน'
      }
    },
    legend: {
      position: 'top',
      horizontalAlign: 'left'
    },
    annotations: {
      points: annotations
    }
  };

  /////////////////////////////
  var optionsStock = {
          series: [{
          name: 'stock',
          data: {{stock_list|safe}},
        },
      ],
    chart: {
          height: 350,
          type: 'bar',
          stacked: false,
    },
    plotOptions: {
      bar: {
        borderRadius: 2,
        dataLabels: {
          position: 'top',
        },
      }
    },
    dataLabels: {
      enabled: true,
      formatter: function (val) {
        return (val == '0') ? '' : val.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
      },
      offsetY: -20,
      style: {
        fontSize: '12px',
        colors: ["#85929e"]
      },
    },
    xaxis: {
      categories: {{stone_name_list|safe}},
      axisBorder: {
        show: false
      },
      axisTicks: {
        show: false
      }
    },
    yaxis: {
      forceNiceScale: true,
      title: {
        text: 'stone weight total on mounth'
      },
      labels: {
        formatter: function (value) {
          return value.toLocaleString() + " ตัน";
        }
      }
    }
  };
  
  /////////////////////////////
  var optionsWeightLoss = {
        series: {{list_persent_loss_weight|safe}},
          chart: {
          height: "350px",
          redrawOnParentResize: true,
          type: 'radialBar',
        },
        plotOptions: {
          radialBar: {
            dataLabels: {
              name: {
                fontSize: '22px',
              },
              value: {
                fontSize: '16px',
              },
              total: {
                show: true,
                label: 'ชั่วโมงทำงาน',
                color: '#9370DB',
                formatter: function (w) {
                  return '{{actual_working_time_all | format_duration }}' + ' ชม.';
                },
                style: {
                  color: 'red' // Set the color of the text here
                }
              }
            }
          }
        },
        labels: [
            {% for name in list_persent_loss_weight %}
                {% if not forloop.last %}
                    'โรงโม่ {{ forloop.counter }}',
                {% else %}
                    'เวลาสูญเสียรวม',
                {% endif %}
            {% endfor %}
        ]

  };

  /////////////////////////////
  var optionsMill = {
        series: [           
            {% for item in list_goal_mill %}
                {
                    name: '{{ item.0 }}',
                    data: {{ item.1|safe }}
                }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ],
          chart: {
          height: 350,
          type: 'area'
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'smooth'
        },
        xaxis: {
          type: 'datetime',
          categories: {{ list_date|safe }},
        },
        yaxis: {
          min: 0,
          max: 100,
          labels: {
            formatter: function (value) {
              return value + '%';
            }
          }
        },
        tooltip: {
          x: {
            format: 'dd/MM/yyyy'
          },
        },
  };


  var chartStone = new ApexCharts(
    document.querySelector("#chart-stone"), 
    optionsStone
  );
  chartStone.render();

  var chartStock = new ApexCharts(
    document.querySelector("#chart-stock"), 
    optionsStock
  );
  chartStock.render();

  var chartWeightLoss = new ApexCharts(
    document.querySelector("#chart-weight-loss"),
    optionsWeightLoss
  );

  chartWeightLoss.render();

  window.addEventListener('resize', onResizeFunction);
  window.addEventListener("load", onResizeFunction);

  function onResizeFunction (e){
    var chartElement = document.querySelector("#chart-weight-loss");
    var chartWidth = chartElement.offsetWidth;

      chartWeightLoss.updateOptions({
        chart: {
          height: chartWidth + 60 // Set the chart height equal to the current width
        },
      });
  }

  var chartMill = new ApexCharts(
    document.querySelector("#chart-mill"),
    optionsMill
  );

  chartMill.render();

  //Predefined Date Ranges
  $(function() {

    var start = moment('{{ request.session.db_start_date }}');
    var end = moment('{{ request.session.db_end_date }}');

    function cb(start, end) {
        $('#reportrange span').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
        $('#db_start_date').val(start.format('YYYY-MM-DD'));
        $('#db_end_date').val(end.format('YYYY-MM-DD'));
        //alert("start = " + start.format('YYYY-MM-DD') + ' & end = '+ end.format('YYYY-MM-DD'));
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);

    });


  function setDateInDashbord(){
        var db_start_date = $('#db_start_date').val();
        var db_end_date = $('#db_end_date').val();
        $.ajax({
            url: '{% url "setDateInDashbord" %}',
            type: 'GET',
            data: {
                'db_start_date': db_start_date,
                'db_end_date': db_end_date,
            },
            dataType: 'json',
            success: function (data) {
              if (data) {
                  location.reload();
                  e.preventDefault();
              }else{

              }
            },
            error: function(xhr, status, error) {
              alert('error = ' + error);
            }
        });
    return false;
  }

  function progress_bar(btn, btnText, btnProgress, btnPercent, py_url, file_name, delay_time){
    // Disable button
    btn.disabled = true;
    btnText.style.visibility = "hidden"; // hide original text
    btnPercent.style.display = "block";
    btnProgress.style.width = "0%";
    btnPercent.innerText = "0%";

    let fakeProgress = 0;
    let timer = setInterval(() => {
        if (fakeProgress < 95) {  // stop at 95%, leave room for finish
            fakeProgress++;
            btnProgress.style.width = fakeProgress + "%";
            btnPercent.innerText = fakeProgress + "%";
        }
    }, delay_time);

    fetch(py_url)
        .then(response => response.blob())
        .then(blob => {
            clearInterval(timer);

            // Jump to 100%
            btnProgress.style.width = "100%";
            btnPercent.innerText = "100%";

            // Trigger download
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;
            a.download = file_name;
            document.body.appendChild(a);
            a.click();
            a.remove();

            // Reset button after 1s
            setTimeout(() => {
                btn.disabled = false;
                btnText.style.visibility = "visible";
                btnPercent.style.display = "none";
                btnProgress.style.width = "0%";
            }, 1000);
        })
        .catch(err => {
            clearInterval(timer);
            console.error(err);
            alert("Download failed!");
            btn.disabled = false;
            btnText.style.visibility = "visible";
            btnPercent.style.display = "none";
            btnProgress.style.width = "0%";
        });
  }

  document.getElementById('sm_download-btn').addEventListener('click', () => {
    const btn = document.getElementById('sm_download-btn');
    const btnText = document.getElementById('sm_btn-text');
    const btnProgress = document.getElementById('sm_btn-progress');
    const btnPercent = document.getElementById('sm_btn-percent');

    const py_url = "{% url 'exportExcelProductionByStoneAndMonthInDashboard' %}";
    const file_name = "sales_monthly_("+'{{ request.session.company_code }}'+").xlsx";
    const delay_time = 50;
    progress_bar(btn, btnText, btnProgress, btnPercent, py_url, file_name, delay_time);
  });

  document.getElementById('sd_download-btn').addEventListener('click', () => {
    const btn = document.getElementById('sd_download-btn');
    const btnText = document.getElementById('sd_btn-text');
    const btnProgress = document.getElementById('sd_btn-progress');
    const btnPercent = document.getElementById('sd_btn-percent');

    const py_url = "{% url 'exportExcelProductionByStoneInDashboard' %}";
    const file_name = "sales_daily_("+'{{ request.session.company_code }}'+").xlsx";
    const delay_time = 50;
    progress_bar(btn, btnText, btnProgress, btnPercent, py_url, file_name, delay_time);
  });

  document.getElementById('ts_download-btn').addEventListener('click', () => {
    const btn = document.getElementById('ts_download-btn');
    const btnText = document.getElementById('ts_btn-text');
    const btnProgress = document.getElementById('ts_btn-progress');
    const btnPercent = document.getElementById('ts_btn-percent');

    const py_url = "{% url 'exportExcelTranToSellInDashboard' %}";
    const file_name = "tran_to_sell("+'{{ request.session.company_code }}'+").xlsx";
    const delay_time = 50;
    progress_bar(btn, btnText, btnProgress, btnPercent, py_url, file_name, delay_time);
  });

  document.getElementById('pd_download-btn').addEventListener('click', () => {
    const btn = document.getElementById('pd_download-btn');
    const btnText = document.getElementById('pd_btn-text');
    const btnProgress = document.getElementById('pd_btn-progress');
    const btnPercent = document.getElementById('pd_btn-percent');

    const py_url = "{% url 'exportExcelProductionAndLossDashboard' %}";
    const file_name = "production_record_("+'{{ request.session.company_code }}'+").xlsx";
    const delay_time = 200;
    progress_bar(btn, btnText, btnProgress, btnPercent, py_url, file_name, delay_time);
  });

  document.getElementById('st_download-btn').addEventListener('click', () => {
    const btn = document.getElementById('st_download-btn');
    const btnText = document.getElementById('st_btn-text');
    const btnProgress = document.getElementById('st_btn-progress');
    const btnPercent = document.getElementById('st_btn-percent');

    const py_url = "{% url 'exportExcelStockStoneInDashboard' %}";
    const file_name = "stock_stone_("+'{{ request.session.company_code }}'+").xlsx";
    const delay_time = 50;
    progress_bar(btn, btnText, btnProgress, btnPercent, py_url, file_name, delay_time);
  });

  document.getElementById('et_download-btn').addEventListener('click', () => {
    const btn = document.getElementById('et_download-btn');
    const btnText = document.getElementById('et_btn-text');
    const btnProgress = document.getElementById('et_btn-progress');
    const btnPercent = document.getElementById('et_btn-percent');

    const py_url = "{% url 'exportExcelEstimateDashboard' %}";
    const file_name = "estimate_stone_("+'{{ request.session.company_code }}'+").xlsx";
    const delay_time = 50;
    progress_bar(btn, btnText, btnProgress, btnPercent, py_url, file_name, delay_time);
  });

</script>

{% endblock %}