{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load templatehelpers %}
{% load widget_tweaks %}

{% block css %}
<link
rel="stylesheet"
href="{% static 'extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}"
/>
<link rel="stylesheet" href="{% static 'compiled/css/table-datatable-jquery.css' %}"/>
{% endblock %}

{% block content %}
<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
      <i class="bi bi-justify fs-3"></i>
    </a>
  </header>

  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
          <h3>Edit Gas Price</h3>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
          <nav
            aria-label="breadcrumb"
            class="breadcrumb-header float-start float-lg-end"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Dashboard</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'viewProduction' %}">Gas Price</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Edit Gas Price
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>

    <!-- Basic Tables start -->
    <section class="section">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">แก้ไขบันทึกราคาน้ำมัน</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <form class="form" method="post">
              <div class="row">
                {% csrf_token %}
                <hr class="my-2">
                <div class="col-md-3 col-12">
                    <div class="form-group">
                      <p class="fw-bolder">วันที่</p>
                    </div>
                  </div>
                <!--div class="col-md-5 col-12">
                  <div class="form-group">
                    <p class="fw-bolder">ราคาทุน</p>
                  </div>
                </div-->
                <div class="col-md-9 col-12">
                  <div class="form-group">
                    <p class="fw-bolder">ราคาขาย</p>
                  </div>
                </div>
                <div class="row form-row spacer">
                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            {{form.company}}{{form.created | add_class:"form-control"}}
                        </div>
                      </div>
                    <!--div class="col-md-5 col-12">
                      <div class="form-group">
                        {{form.cost | add_class:"form-control" |attr:"required:true"}}
                      </div>
                    </div-->
                    <div class="col-md-9 col-12">
                      <div class="form-group">
                        {{form.sell | add_class:"form-control" |attr:"required:true"}}
                      </div>
                    </div>
                  <div class="col-12 d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary me-1 mb-1">
                      บันทึก
                    </button>
                  </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Basic Tables end -->
  </div>

  <footer>
    <div class="footer clearfix mb-0 text-muted">
      <div class="float-start">
        <p>2023 &copy; Nitjanan</p>
      </div>
      <div class="float-end">
        <!-- p>
          Crafted with
          <span class="text-danger"
            ><i class="bi bi-heart-fill icon-mid"></i
          ></span>
          by <a href="https://saugi.me">Saugi</a>
        </p -->
      </div>
    </div>
  </footer>
{% endblock %}

{% block script %}
<script src="{% static 'js/components/dark.js' %}"></script>
<script src="{% static 'extensions/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>

<script src="{% static 'compiled/js/app.js' %}"></script>

<script src="{% static 'extensions/jquery/jquery.min.js' %}"></script>
<script src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
<script src="{% static 'js/pages/datatables.js' %}"></script>

<script type="text/javascript">
  //ปิดปุ่ม submit หากมีการกดซ้ำ
  document.addEventListener("DOMContentLoaded", function() {
    const form = document.querySelector("form");
      form.addEventListener("submit", function() {
        const submitButton = form.querySelector("[type='submit']");
        submitButton.disabled = true;
    });
  });

  var have_gas_price = false;
  $('#id_created').val('{{gp.created|date:"Y-m-d"}}');

  //after load
  $(window).on('load', function() {

  });

  //before save
  $('form').submit(function() {
    //เช็คว่าวันนี้มี save โรงโม่นี้หรือยัง ถ้ามีแล้วไม่ให้ save
    if(have_gas_price){
      $("#id_created").trigger( "focus" );
      alert('มีข้อมูลราคาน้ำมันวันนี้แล้ว กรุณาเปลี่ยนวันที่');
      return false;
    }
  });

  $('#id_created').change(function() {
    searchGasPrice();
  });

  function searchGasPrice(){
        var created = $("#id_created").val();
        var gp_id = '';
        var company = "{{ request.session.company_code }}";
        // Create Ajax Call
        if(created){
              $.ajax({
                url: '{% url "searchGasPrice" %}',
                data: {
                        'created': created,
                        'gp_id': gp_id,
                        'company': company,
                },
                dataType: 'json',
                success: function (data) {
                    have_gas_price = data.have_gas_price;
                }
              });
        }
        return false;
  }

  $("#id_cost").blur(function(){
    tmp = parseFloat($(this).val());
    $(this).val(tmp.toFixed(4));
    //calculateSellPrice();
  });

  $("#id_sell").blur(function(){
    tmp = parseFloat($(this).val());
    $(this).val(tmp.toFixed(4));
  });

  function calculateSellPrice(){
    cost = parseFloat($("#id_cost").val());
    sell = cost + 0.25;
    $("#id_sell").val(sell.toFixed(4));
  }
  
  </script>
{% endblock %}