{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load templatehelpers %}
{% load widget_tweaks %}

{% block css %}
<link
rel="stylesheet"
href="{% static 'extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}"
/>
<link rel="stylesheet" href="{% static 'compiled/css/table-datatable-jquery.css' %}"/>
<style>
  .div-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .col-md-1-5 {
    flex: 0 0 12.5% !important;
    max-width: 12.5% !important;
  }

  .col-md-1-4 {
    flex: 0 0 11.9% !important;
    max-width: 11.9% !important;
  }

  .col-md-1-25 {
    flex: 0 0 10.4167% !important;
    max-width: 10.4167% !important;
  }

</style>
  
{% endblock %}

{% block content %}
<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
      <i class="bi bi-justify fs-3"></i>
    </a>
  </header>

  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
          <h3>Edit Port Stock</h3>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
          <nav
            aria-label="breadcrumb"
            class="breadcrumb-header float-start float-lg-end"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Dashboard</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'viewPortStock' %}">Port Stone Stock</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Edit Port Stock
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>

    <!-- Basic Tables start -->
    <section class="section">
      <hr class="my-3">
      <form class="form" method="post">
        {% csrf_token %}
        <div class="row my-3">
          <div class="col-md-1">
            <p class="fw-bolder">{{form.created.label}}</p>
          </div>
          <div class="col-md-11">
            <div class="form-group has-icon-left">
              <div class="position-relative">
                {{form.created | add_class:"form-control" |attr:"required:true"}}
                {{form.company}}
                <div class="form-control-icon">
                  <i class="bi bi-calendar-week"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% for pss in ssn_data %}
        <div class="card {% if pss.id == ss_id%}border border-warning border-1{%endif%}">
          <div class="card-header">
            <h3 class="float-start">{{forloop.counter}}. {{pss.stone}}</h3>
            <a href="{% url 'editPortStockStoneItem' pss.ps.id pss.id %}" class="btn btn-warning float-end"><i class="fas fa-pen"></i> แก้ไข</a>
            <a onclick="return confirm('คุณต้องการลบ {{pss.stone}} นี้หรือไม่ ?')" href="{% url 'removePortStockStone' pss.id %}" class="btn btn-danger float-end"><i class="fas fa-trash-alt"></i> ลบ</a>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr class="{% if pss.id == ss_id%} table-warning {%else%} table-primary {%endif%}">
                  <th scope="col">stock ของลูกค้า</th>
                  <th scope="col" class="text-end">ยกมา</th>
                  <th scope="col" class="text-end">รับเข้า</th>
                  <th scope="col" class="text-end">จำนวนที่ลงเรือ</th>
                  <th scope="col" class="text-end">สูญเสียจากการขนถ่าย (1% - 1.2%)</th>
                  <th scope="col" class="text-end">หินอันเดอร์ไซต์ (เฉพาะหิน 40/80)</th>
                  <th scope="col" class="text-end">ขายในนามบริษัทอื่น SLC</th>
                  <th scope="col" class="text-end">stock คงเหลือ</th>
                </tr>
              </thead>
              <tbody>
                {% for item in pss.portstockstoneitem_set.all %}
                  <tr>
                    <th scope="row">
                      {{item.cus}}
                    </th>
                    <td class="text-end">{{item.quoted | intcomma}}</td>
                    <td class="text-end">{{item.receive | intcomma}}</td>
                    <td class="text-end">{{item.pay | intcomma}}</td>
                    <td class="text-end">{{item.loss | intcomma}}</td>
                    <td class="text-end">{{item.other | intcomma}}</td>
                    <td class="text-end">{{item.sell_cus | intcomma}}</td>
                    <td class="text-end">{{item.total| intcomma}}</td>
                  </tr>
                {% endfor %}
                <tr>
                  <th scope="row" colspan="7">
                    Total Stock
                  </th>
                  <th scope="row" class="text-end">
                    {{pss.total | intcomma}} ตัน
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        {%endfor%}

        <h4><span class="my-3 badge rounded-pill bg-warning">แก้ไขชนิดหินใน stock</span></h4>
        <div class="card div-shadow border border-warning border-4">
          <div class="card-content">
            <div class="card-body">
              <div id="alert" class="alert alert-warning d-none" role="alert"></div><!-- แจ้งเตือนหากมีการดึงข้อมูลมาไม่ครบ -->
              <form class="form" method="post">
                <div class="row">
                  <div class="col-md-2">
                    <p class="fw-bolder">{{ss_form.stone.label}}</p>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      {{ss_form.stone| add_class:"form-control"}}
                      {{ss_form.total}}
                    </div>
                  </div>
                  <div class="col-md-1">
                    <a href="{% url 'editStep2PortStock' stock_data.id %}" class="btn btn-secondary float-right"><i class="fas fa-brush"></i> ล้าง</a>
                  </div>
                </div>
                <hr class="my-3">
                <div class="row">
                  <div class="col-md-2 col-12">
                    <div class="form-group">
                      <p class="fw-bolder">stock ของลูกค้า</p>
                    </div>
                  </div>
                  <div class="col-md-1-4 col-12">
                    <div class="form-group">
                      <p class="fw-bolder">ยกมา</p>
                    </div>
                  </div>
                  <div class="col-md-1-4 col-12">
                    <div class="form-group">
                      <p class="fw-bolder">รับเข้า</p>
                    </div>
                  </div>
                  <div class="col-md-1-4 col-12">
                    <div class="form-group">
                      <p class="fw-bolder">จำนวนที่ลงเรือ <b id="b_pay" class="text-success"></b></p>
                    </div>
                  </div>
                  <div class="col-md-1-4 col-12">
                    <div class="form-group">
                      <p class="fw-bolder">สูญเสียจากการขนถ่าย (1% - 1.2%)</p>
                    </div>
                  </div>
                  <div class="col-md-1-4 col-12">
                    <div class="form-group">
                      <p class="fw-bolder">หินอันเดอร์ไซต์ 10% (เฉพาะหิน 40/80)</p>
                    </div>
                  </div>
                  <div class="col-md-1-4 col-12">
                    <div class="form-group">
                      <p class="fw-bolder">ขายในนาม SLC</p>
                    </div>
                  </div>
                  <div class="col-md-1-4 col-12">
                    <div class="form-group">
                      <p class="fw-bolder">stock คงเหลือ</p>
                    </div>
                  </div>
                  {{ formset.management_form }}
                  {% for form in formset %}
                    <!-- จำเป็นมาก -->{{form.id}}<!-- จำเป็นมาก -->
                    <div class="row form-row spacer">
                     <div class="col-md-2 col-12">
                        <div class="form-group">
                          {{form.cus | add_class:"form-control cus"}}
                        </div>
                      </div>
                      <div class="col-md-1-4 col-12">
                        <div class="form-group">
                          {{form.quoted | add_class:"form-control quoted"}}
                        </div>
                      </div>
                      <div class="col-md-1-4 col-12">
                        <div class="form-group">
                          {{form.receive | add_class:"form-control receive"}}
                        </div>
                      </div>
                      <div class="col-md-1-4 col-12">
                        <div class="form-group">
                          {{form.pay | add_class:"form-control pay border-success"}}
                        </div>
                      </div>
                      <div class="col-md-1-4 col-12">
                        <div class="form-group">
                          {{form.loss | add_class:"form-control loss"}}
                        </div>
                      </div>
                      <div class="col-md-1-4 col-12">
                        <div class="form-group">
                          {{form.other | add_class:"form-control other"}}
                        </div>
                      </div>
                      <div class="col-md-1-4 col-12">
                        <div class="form-group">
                          {{form.sell_cus | add_class:"form-control sell_cus"}}
                        </div>
                      </div>
                      <div class="col-md-1-4 col-12">
                        <div class="form-group">
                          {{form.total | add_class:"form-control total border-primary" |attr:"readonly:readonly"}}
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    <div class="col-6">
                      <!--ul class="text-success" style="line-height:95%">
                        <li>ผลิต : ดึงข้อมูลหินเบอร์จากการประมาณการณ์หิน</li>
                        <li>อนุเคราะห์ : ดึงข้อมูลจากปลายทาง อนุเคราะห์</li>
                      </!ul-->
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                      <button type="submit" class="btn btn-warning me-1 mb-1">
                        บันทึกการแก้ไข
                      </button>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </form>
    </section>
    <!-- Basic Tables end -->
  </div>

  <footer>
    <div class="footer clearfix mb-0 text-muted">
      <div class="float-start">
        <p>2023 &copy; Nitjanan</p>
      </div>
      <div class="float-end">
        <!-- p>
          Crafted with
          <span class="text-danger"
            ><i class="bi bi-heart-fill icon-mid"></i
          ></span>
          by <a href="https://saugi.me">Saugi</a>
        </p -->
      </div>
    </div>
  </footer>
{% endblock %}

{% block script %}
<script src="{% static 'js/components/dark.js' %}"></script>
<script src="{% static 'extensions/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>

<script src="{% static 'compiled/js/app.js' %}"></script>

<script src="{% static 'extensions/jquery/jquery.min.js' %}"></script>
<script src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
<script src="{% static 'js/pages/datatables.js' %}"></script>

 <!-- select2 Styles -->
 <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
 <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />

<script type="text/javascript">
  $('#id_created').val('{{stock_data.created|date:"Y-m-d"}}');
  //ห้ามเปลี่ยนวันที่ส่งผลต่อการคำนวณ stock
  $('#id_created').prop('readonly', true);

  $("#b_pay").html("{{old_pay}}");

  //ห้ามเปลี่ยน select option
  $('.cus').css('pointer-events','none');

  //after load
  $(window).on('load', function() {
    //select2
    $('#id_stone').select2({width: "100%" ,  theme: 'bootstrap-5'});
  });

  var have_stock = false;
  //before save
  $(document).ready(function() {
    $("form").submit(function(event) {
        const submitButton = $(this).find("[type='submit']");
        submitButton.prop("disabled", true); //ปิดปุ่ม submit หากมีการกดซ้ำ

        //id หินทั้งหมด py to java
        var list_stone_id = [];
        "{% for ssn in ssn_data %}"
          list_stone_id.push('{{ssn.stone.base_stone_type_id}}');
        "{% endfor %}"

        //เก็บ id หินก่อนเปลี่ยน
        var old_id_stone = "{{ss_stone_id}}";

        //ลบ id หินก่อนเปลี่ยนที่มีอยู่แล้วใน list
        var index = list_stone_id.indexOf(old_id_stone);
        if (index !== -1) {
          list_stone_id.splice(index, 1); // Remove the element at the found index
        }

        //หา id ของหินที่เราจะ save
        var id_stone = $("#id_stone").val();

        var haveStone = false
        $.each(list_stone_id, function(index, value) {
            if(value == id_stone){
                haveStone = true;
                alert('มีหินชนิดนี้ใน stock แล้ว กรุณาเพิ่มหินชนิดอื่น');
            }
        });

        if (typeof haveStone !== "undefined" && haveStone) {           
            submitButton.prop("disabled", false); // เปิดปุ่ม submit อีกครั้ง
            event.preventDefault(); // Prevent form submission
            return false;
        }
        //เช็คว่าวันนี้มี save stock หรือยัง
        if(typeof have_stock !== "undefined" && have_stock){
          $("#id_created").trigger( "focus" );
          alert('มีข้อมูล stock ของวันนี้อยู่แล้ว กรุณาเปลี่ยนวันที่ stock');

          submitButton.prop("disabled", false); // เปิดปุ่ม submit อีกครั้ง
          event.preventDefault(); // Prevent form submission
          return false;
        }

        /* 07/07/2025 เอาเช็คจำนวนที่ลงเรือออก 
		    //เช็คจำนวนที่ลงเรือ ห้ามเกินจากยอดรวม
        var sum_pay = sumInputsByClass('pay');
        var b_pay = $("#b_pay").html();

        if(typeof b_pay !== "undefined" && b_pay && sum_pay > b_pay){
          $("#id_portstockstoneitem_set-0-pay").trigger( "focus" );
          alert('รวมจำนวนที่ลงเรือมากกว่า ที่ลงเรือจริง กรุณาแก้ไขจำนวนที่ลงเรือ');

          submitButton.prop("disabled", false); // เปิดปุ่ม submit อีกครั้ง
          event.preventDefault(); // Prevent form submission
          return false;
        }
        */

        $("#id_total").val(sumInputsByClass('total').toFixed(2));//sum total
    });
  });

  function sumInputsByClass(className) {
    var sum = 0;
    $("." + className).each(function () {
      var val = parseFloat($(this).val());
      if (!isNaN(val)) {
        sum += val;
      }
    });
    return sum;
  }

  ////// start หาว่ามีการ save stock ซ้ำของวันนี้ไหม //////
  $('#id_created').change(function() {
      searchPortStockInDay();
	});

  function searchPortStockInDay(){
    var created = $("#id_created").val();
    var company = $("#id_company").val();
    var stock_id = '{{stock_data.id}}';
    // Create Ajax Call
    if(created){
      //set id_distributor
      $.ajax({
        url: '{% url "searchPortStockInDay" %}',
        data: {
          'created': created,
          'company':company,
          'stock_id':stock_id,
        },
        dataType: 'json',
        success: function (data) {
          have_stock = data.have_stock;
        }
      });
    }
    return false;
  }
  ////// end หาว่ามีการ save stock ซ้ำของวันนี้ไหม //////

  ////// start ดึงข้อมูลหินและจำนวนตัน //////
  $('#id_stone, #id_created').change(function() {
      searchDataWeightToPortStock();
	});

  function searchDataWeightToPortStock(){
    $("#alert").addClass("d-none");
    //รีเซ็ตค่าก่อนดึงข้อมูล
    resetVal("quoted");
    resetVal("receive");

    var created = $("#id_created").val();
    var company = $("#id_company").val();
    var stone = $("#id_stone").val();

    // Create Ajax Call
    if(created){
      //set id_distributor
      $.ajax({
        url: '{% url "searchDataWeightToPortStock" %}',
        data: {
          'created': created,
          'company':company,
          'stone':stone,
        },
        dataType: 'json',
        success: function (data) {
          getDataListPort(data.list_quot, "quoted");
          getDataListWeight(data.list_receive, "receive");
          $("#b_pay").html(data.pay);

          if(data.alert && stone != ""){
            $("#alert").removeClass("d-none");
            $("#alert").html(data.alert.replace(/\n/g, "<br>"));
          }

          calculateTotalByCus();
        }
      });
    }
    return false;
  }

  function resetVal(name){
    var inputs = $(".cus");
    for(var i = 0; i < inputs.length; i++){
      $("#id_form-"+i+"-"+name).val(0);
    }
  }

  function getDataListPort(list, name){
    var inputs = $(".cus");
    for(var i = 0; i < inputs.length; i++){
      if (list == ''){
        $("#id_portstockstoneitem_set-"+i+"-"+name).val(0);
      }else{
        if($(inputs[i]).val()){
          for(var j = 0; j < list.length; j++){
            if (list[j].cus__customer_id == $(inputs[i]).val()){
              total = parseFloat(list[j].total).toFixed(2);
              $("#id_portstockstoneitem_set-"+i+"-"+name).val(total);
            }
          }
        }
      }
    }
  }

  function getDataListWeight(list, name){
    var inputs = $(".cus");
    for(var i = 0; i < inputs.length; i++){
      if (list == ''){
        $("#id_portstockstoneitem_set-"+i+"-"+name).val(0);
      }else{
        if($(inputs[i]).val()){
          for(var j = 0; j < list.length; j++){
            if (list[j].customer__customer_id == $(inputs[i]).val()){
              total = parseFloat(list[j].total).toFixed(2);
              $("#id_portstockstoneitem_set-"+i+"-"+name).val(total);
            }
          }
        }
      }
    }
  }
  ////// end ดึงข้อมูลหินและจำนวนตัน //////
    $('.quoted, .receive, .pay, .loss, .other, .sell_cus').change(function() {
      calculateTotalByCus();
	});

  $(".nd_qty_site").blur(function() {
    $(this).val(parseFloat($(this).val()).toFixed(2));
  });

  $(".receive").blur(function() {
    $(this).val(parseFloat($(this).val()).toFixed(2));
  });
  
  $(".pay").blur(function() {
    $(this).val(parseFloat($(this).val()).toFixed(2));
  });

  $(".loss").blur(function() {
    $(this).val(parseFloat($(this).val()).toFixed(2));
  });

  $(".other").blur(function() {
    $(this).val(parseFloat($(this).val()).toFixed(2));
  });

    $(".sell_cus").blur(function() {
    $(this).val(parseFloat($(this).val()).toFixed(2));
  });

  //คำนวน น้ำหนักรวม ตามลูกค้า
  function calculateTotalByCus(){
    var inputs = $(".cus");

    for(var i = 0; i < inputs.length; i++){
      if($(inputs[i]).val()){

        quoted =  parseFloat($('#id_portstockstoneitem_set-'+ i +'-quoted').val());
        receive =  parseFloat($('#id_portstockstoneitem_set-'+ i +'-receive').val());
        pay =  parseFloat($('#id_portstockstoneitem_set-'+ i +'-pay').val());
        loss = parseFloat($('#id_portstockstoneitem_set-'+ i +'-loss').val());
        other = parseFloat($('#id_portstockstoneitem_set-'+ i +'-other').val());
        sell_cus = parseFloat($('#id_portstockstoneitem_set-'+ i +'-sell_cus').val());

        total = quoted + receive - (pay + loss + sell_cus + other);

        $('#id_portstockstoneitem_set-'+ i +'-total').val(total.toFixed(2));
      }
    }

  }

 </script>

{% endblock %}