{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load templatehelpers %}
{% load widget_tweaks %}

{% block css %}
<link
rel="stylesheet"
href="{% static 'extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}"
/>
<link rel="stylesheet" href="{% static 'compiled/css/table-datatable-jquery.css' %}"/>
<style>
input.del[type=checkbox] {
 display: none;
}
</style>
{% endblock %}

{% block content %}
<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
      <i class="bi bi-justify fs-3"></i>
    </a>
  </header>

  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
          <h3>Create Stone Estimate</h3>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
          <nav
            aria-label="breadcrumb"
            class="breadcrumb-header float-start float-lg-end"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Dashboard</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'viewProduction' %}">Stone Estimate</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Create Stone Estimate
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>

    <!-- Basic Tables start -->
    <section class="section">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">สร้างการประมาณการณ์หิน</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <form class="form" method="post">
              <div class="row">
                {% csrf_token %}
                <div class="col-md-2">
                  <p class="fw-bolder">{{se_form.created.label}}</p>
                </div>
                <div class="col-md-10">
                  <div class="form-group has-icon-left">
                    <div class="position-relative">
                      {{se_form.created | add_class:"form-control" |attr:"required:true"}}
                      {{se_form.company}}
                      <div class="form-control-icon">
                        <i class="bi bi-calendar-week"></i>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-2">
                  <p class="fw-bolder">{{se_form.site.label}}</p>
                </div>
                <div class="col-md-10">
                  <div class="form-group has-icon-left">
                    <div class="position-relative">
                      {{se_form.site | add_class:"form-control" |attr:"required:true"}}
                      <div class="form-control-icon">
                        <i class="fa-solid fa-industry"></i>
                      </div>
                    </div>
                  </div>
                </div>

                <hr class="my-2">
                <h6 class="card-title my-3">คำนวนเบอร์หินด้วยเปอร์เซ็นต์</h6>
                <div class="col-md-5 col-12">
                  <div class="form-group">
                    <p class="fw-bolder">ชนิดหิน</p>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <p class="fw-bolder">เปอร์เซ็นต์</p>
                  </div>
                </div>
                {{ formset.management_form }}
                {% for form in formset %}
                  <div class="row form-row spacer" id="div-{% if form.id.value %}{{form.id.value}}{% else %}None{% endif %}">
                    <div class="col-md-5 col-12">
                      <div class="form-group">
                         <!-- จำเป็นมาก -->{{form.id}}<!-- จำเป็นมาก -->{{form.stone_type | add_class:"form-control stone_type"}}
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="form-group">
                        {{form.percent | add_class:"form-control percent"}}
                      </div>
                    </div>
                    <div class="col-md-1 col-12">
                      {% if form.id.value %}
                        <div class="input-group-append text-right">
                          <button type="button" class="btn btn-danger hidden-print" onclick="hideDiv('{{form.id.value}}')">-</button>
                      </div>
                      {% else %}
                        <div class="input-group-append text-right">
                            <button class="btn btn-success add-form-row hidden-print">+</button>
                        </div>
                      {% endif %}
                      {{ form.DELETE| add_class:"del"}}
                    </div>
                </div>
                  {% endfor %}
                  <hr class="my-3">
                  <div class="col-12 d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary me-1 mb-1">
                      บันทึก
                    </button>
                  </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Basic Tables end -->
  </div>

  <footer>
    <div class="footer clearfix mb-0 text-muted">
      <div class="float-start">
        <p>2023 &copy; Nitjanan</p>
      </div>
      <div class="float-end">
        <!-- p>
          Crafted with
          <span class="text-danger"
            ><i class="bi bi-heart-fill icon-mid"></i
          ></span>
          by <a href="https://saugi.me">Saugi</a>
        </p -->
      </div>
    </div>
  </footer>
{% endblock %}

{% block script %}
<script src="{% static 'js/components/dark.js' %}"></script>
<script src="{% static 'extensions/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>

<script src="{% static 'compiled/js/app.js' %}"></script>

<script src="{% static 'extensions/jquery/jquery.min.js' %}"></script>
<script src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
<script src="{% static 'js/pages/datatables.js' %}"></script>

<script type="text/javascript">
  $('#id_created').val('{{se.created|date:"Y-m-d"}}');

  //ห้ามเปลี่ยน select option
  $('.stone_type').css('pointer-events','none');

  function hideDiv(id){
    var inputId = $("#div-"+id+" div.col-md-5 div.form-group input[value='"+id+"']").attr("id").match(/\d+/);
    // check ช่อง DELETE
    $("#id_stoneestimateitem_set-"+inputId+"-DELETE").prop('checked', true);
    // ลบ class percent เพื่อไม่ต้องนำไปคำนวน checkOverPercent
    $("#id_stoneestimateitem_set-"+inputId+"-percent").removeClass("percent");
    // ซ่อนรายการหิน
    $("#div-"+id).hide();
  }

  //before save
  $('form').submit(function() {
    if(checkOverPercent()){
      alert('ค่าคำนวนเปอร์เซ็นต์เกิน 100% กรุณาเปลี่ยนเปอร์เซ็นต์ใหม่');
      return false;
    }
    //เช็คว่าวันนี้มี save โรงโม่นี้หรือยัง ถ้ามีแล้วไม่ให้ save
    if(have_estimate){
      $("#id_site").trigger( "focus" );
      alert('มีข้อมูลการประมาณการณ์ของวันนี้ ปลายทางนี้อยู่แล้ว กรุณาเปลี่ยน ปลายทาง');
      return false;
    }

  });

  function checkOverPercent(){
    var inputs = $(".percent");
    var sum = 0;
    for(var i = 0; i < inputs.length; i++){
      if($(inputs[i]).val()){
        sum += parseInt($(inputs[i]).val());
      }
    }
    return sum > 100 ? true : false;
  }


  function updateElementIndex(el, prefix, ndx) {
      var id_regex = new RegExp('(' + prefix + '-\\d+)');
      var replacement = prefix + '-' + ndx;
      if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
      if (el.id) el.id = el.id.replace(id_regex, replacement);
      if (el.name) el.name = el.name.replace(id_regex, replacement);
  }
  function cloneMore(selector, prefix) {
      var newElement = $(selector).clone(true);
      var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
      newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
          var name = $(this).attr('name')
          if(name) {
              name = name.replace('-' + (total-1) + '-', '-' + total + '-');
              var id = 'id_' + name;
              $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
          }
      });
      newElement.find('label').each(function() {
          var forValue = $(this).attr('for');
          if (forValue) {
            forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
            $(this).attr({'for': forValue});
          }
      });
      total++;
      $('#id_' + prefix + '-TOTAL_FORMS').val(total);
      $(selector).after(newElement);
      var conditionRow = $('.form-row:not(:last)');
      conditionRow.find('.btn.add-form-row')
      .removeClass('btn-success').addClass('btn-danger')
      .removeClass('add-form-row').addClass('remove-form-row')
      .html('-');
      return false;
  }
  function deleteForm(prefix, btn) {
      var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
      if (total > 1){
          btn.closest('.form-row').remove();
          var forms = $('.form-row');
          $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
          for (var i=0, formCount=forms.length; i<formCount; i++) {
              $(forms.get(i)).find(':input').each(function() {
                  updateElementIndex(this, prefix, i);
              });
          }
      }
      return false;
  }
  $(document).on('click', '.add-form-row', function(e){
      e.preventDefault();
      cloneMore('.form-row:last', 'stoneestimateitem_set');
      return false;
  });
  $(document).on('click', '.remove-form-row', function(e){
      e.preventDefault();
      deleteForm('stoneestimateitem_set', $(this));
      return false;
  });


  $('#id_site, #id_created').change(function() {
    searchStoneEstimate();
  });
  
	function searchStoneEstimate(){
        var site = $("#id_site").val();
        var created = $("#id_created").val();
        var se_id = '{{se.id}}';
        var company = "{{ request.session.company_code }}";

        // Create Ajax Call
        if(site && created){
              $.ajax({
                url: '{% url "searchStoneEstimate" %}',
                data: {
                        'site_id': site,
                        'created': created,
                        'se_id': se_id,
                        'company': company,
                },
                dataType: 'json',
                success: function (data) {
                    have_estimate = data.have_estimate;
                }
              });
        }
        return false;
  }
  
  </script>
{% endblock %}