{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load templatehelpers %}
{% load widget_tweaks %}

{% block css %}
<link
rel="stylesheet"
href="{% static 'extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}"
/>
<link rel="stylesheet" href="{% static 'compiled/css/table-datatable-jquery.css' %}"/>
<style>
input.del[type=checkbox] {
 display: none;
}

.col-md-2-5 {
  flex: 0 0 20.8333% !important;
  max-width: 20.8333% !important;
}

.col-md-1-5 {
  flex: 0 0 12.5% !important;
  max-width: 12.5% !important;
}

.col-md-1-25 {
  flex: 0 0 10.4167% !important;
  max-width: 10.4167% !important;
}

.col-md-0-25 {
  flex: 0 0 2.0833% !important;
  max-width: 2.0833% !important;
}

.big-checkbox {
  width: 16px;
  height: 16px;
  transform: scale(1.5); /* You can increase the scale if needed */
  margin-left: 5px;
}

label {
  font-size: 1.2em;
}
</style>
{% endblock %}

{% block content %}
<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
      <i class="bi bi-justify fs-3"></i>
    </a>
  </header>

  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
          <h3>Edit Stone Estimate</h3>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
          <nav
            aria-label="breadcrumb"
            class="breadcrumb-header float-start float-lg-end"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Dashboard</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'viewProduction' %}">Stone Estimate</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Edit Stone Estimate
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>

    <!-- Basic Tables start -->
    <section class="section">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">สร้างการประมาณการณ์หิน</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <form class="form" method="post">
              <div class="row">
                {% csrf_token %}
                <div class="col-md-2">
                  <p class="fw-bolder">{{se_form.created.label}}</p>
                </div>
                <div class="col-md-10">
                  <div class="form-group has-icon-left">
                    <div class="position-relative">
                      {{se_form.created | add_class:"form-control" |attr:"required:true"}}
                      {{se_form.company}}
                      <div class="form-control-icon">
                        <i class="bi bi-calendar-week"></i>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-2">
                  <p class="fw-bolder">{{se_form.site.label}}</p>
                </div>
                <div class="col-md-10">
                  <div class="form-group has-icon-left">
                    <div class="position-relative">
                      {{se_form.site | add_class:"form-control" |attr:"required:true"}}
                      <div class="form-control-icon">
                        <i class="fa-solid fa-industry"></i>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-2">
                  <p class="fw-bolder">{{se_form.topup.label}}</p>
                </div>
                <div class="col-md-4">
                  <div class="form-group has-icon-left">
                    <div class="position-relative">
                       {{se_form.topup | add_class:"form-control"}}
                      <div class="form-control-icon">
                        <i class="fas fa-weight-hanging"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <p class="fw-bolder">{{se_form.other.label}}</p>
                </div>
                <div class="col-md-4">
                  <div class="form-group has-icon-left">
                    <div class="position-relative">
                      {{se_form.other | add_class:"form-control" |attr:"readonly:readonly"}}
                      <div class="form-control-icon">
                        <i class="fas fa-weight-hanging"></i>
                      </div>
                    </div>
                  </div>
                </div>
				
				
				        <div class="col-md-2">
                  <p class="fw-bolder">{{se_form.scale.label}}</p>
                </div>
                <div class="col-md-4">
                  <div class="form-group has-icon-left">
                    <div class="position-relative">
                       {{se_form.scale | add_class:"form-control" |attr:"readonly:readonly;required:required"}}
                      <div class="form-control-icon">
                        <i class="fas fa-weight-hanging"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <p class="fw-bolder">{{se_form.total.label}}</p>
                </div>
                <div class="col-md-4">
                  <div class="form-group has-icon-left">
                    <div class="position-relative">
                      {{se_form.total | add_class:"form-control" |attr:"readonly:readonly;required:required"}}
                      <div class="form-control-icon">
                        <i class="fas fa-weight-hanging"></i>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-2">
                  <p class="fw-bolder">{{se_form.is_pass.label}}</p>
                </div>
                <div class="col-md-4">
                  {{se_form.is_pass | add_class:"big-checkbox"}}
                </div>

                <hr class="my-2">
                <h6 class="card-title my-3">คำนวนเบอร์หินด้วยเปอร์เซ็นต์</h6>
                <div class="col-md-2 col-12 nps">
                  <div class="form-group">
                    <p class="fw-bolder">ชนิดหิน</p>
                  </div>
                </div>
                <div class="col-md-1-25 col-12 npp">
                  <div class="form-group">
                    <p class="fw-bolder">เปอร์เซ็นต์</p>
                  </div>
                </div>
                <div class="col-md-1-5 col-12 is_to_pass">
                  <div class="form-group">
                    <p class="fw-bolder">จำนวนที่ได้ (ตัน)</p>
                  </div>
                </div>
                <div class="col-md-1-5 col-12 is_to_pass">
                  <div class="form-group">
                    <p class="fw-bolder">ส่งไปโรงโม่ที่แรก (ตัน)</p>
                  </div>
                </div>
                <div class="col-md-1-25 col-12 is_to_pass">
                  <div class="form-group">
                    <p class="fw-bolder">จำนวนที่ส่งที่แรก (ตัน)</p>
                  </div>
                </div>
                <div class="col-md-1-5 col-12 is_to_pass">
                  <div class="form-group">
                    <p class="fw-bolder">ส่งไปโรงโม่ที่สอง (ตัน)</p>
                  </div>
                </div>
                <div class="col-md-1-25 col-12 is_to_pass">
                  <div class="form-group">
                    <p class="fw-bolder">จำนวนที่ส่งที่สอง (ตัน)</p>
                  </div>
                </div>
                <div class="col-md-1-5 col-12 npt">
                  <div class="form-group">
                    <p class="fw-bolder">รวมหินที่โม่ได้  (ตัน)</p>
                  </div>
                </div>
                <div class="col-md-0-25 col-12">
                  <div class="form-group">
                    <p class="fw-bolder">.</p>
                  </div>
                </div>

                {{ formset.management_form }}
                {% for form in formset %}
                  <div class="row form-row spacer" id="div-{% if form.id.value %}{{form.id.value}}{% else %}None{% endif %}">
                    <div class="col-md-2 col-12 nps">
                      <div class="form-group">
                         <!-- จำเป็นมาก -->{{form.id}}<!-- จำเป็นมาก -->{{form.stone_type | add_class:"form-control stone_type"}}
                      </div>
                    </div>
                    <div class="col-md-1-25 col-12 npp">
                      <div class="form-group">
                        <div class="input-group">
                          {{ form.percent|add_class:"form-control percent" }}
                          <div class="input-group-append">
                            <span class="input-group-text">%</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-1-5 col-12 is_to_pass">
                      <div class="form-group">
                        {{form.qty | add_class:"form-control qty border border-success" |attr:"readonly:readonly"}}
                      </div>
                    </div>
                    <div class="col-md-1-5 col-12 is_to_pass">
                      <div class="form-group">
                        {{form.site_id | add_class:"form-control site_id"}}
                      </div>
                    </div>
                    <div class="col-md-1-25 col-12 is_to_pass">
                      <div class="form-group">
                        {{form.qty_site | add_class:"form-control qty_site"}}
                      </div>
                    </div>
                    <div class="col-md-1-5 col-12 is_to_pass">
                      <div class="form-group">
                        {{form.nd_site_id | add_class:"form-control nd_site_id"}}
                      </div>
                    </div>
                    <div class="col-md-1-25 col-12 is_to_pass">
                      <div class="form-group">
                        {{form.nd_qty_site | add_class:"form-control nd_qty_site"}}
                      </div>
                    </div>
                    <div class="col-md-1-5 col-12 npt">
                      <div class="form-group">
                        {{form.total | add_class:"form-control total border border-primary" |attr:"readonly:readonly"}}
                      </div>
                    </div>

                    <div class="col-md-0-25 col-12">
                      {% if form.id.value %}
                        <div class="input-group-append text-right">
                          <button type="button" class="btn btn-danger hidden-print" onclick="hideDiv('{{form.id.value}}')">-</button>
                      </div>
                      {% else %}
                        <div class="input-group-append text-right">
                            <button class="btn btn-success add-form-row hidden-print">+</button>
                        </div>
                      {% endif %}
                      {{ form.DELETE| add_class:"del"}}
                    </div>
                </div>
                  {% endfor %}
                  <hr class="my-3">
                  <div class="col-12 d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary me-1 mb-1">
                      บันทึก
                    </button>
                  </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Basic Tables end -->
  </div>

  <footer>
    <div class="footer clearfix mb-0 text-muted">
      <div class="float-start">
        <p>2023 &copy; Nitjanan</p>
      </div>
      <div class="float-end">
        <!-- p>
          Crafted with
          <span class="text-danger"
            ><i class="bi bi-heart-fill icon-mid"></i
          ></span>
          by <a href="https://saugi.me">Saugi</a>
        </p -->
      </div>
    </div>
  </footer>
{% endblock %}

{% block script %}
<script src="{% static 'js/components/dark.js' %}"></script>
<script src="{% static 'extensions/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>

<script src="{% static 'compiled/js/app.js' %}"></script>

<script src="{% static 'extensions/jquery/jquery.min.js' %}"></script>
<script src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
<script src="{% static 'js/pages/datatables.js' %}"></script>

<script type="text/javascript">
  $('#id_created').val('{{se.created|date:"Y-m-d"}}');
  //ห้ามเปลี่ยนวันที่ส่งผลต่อการคำนวณ stock
  $('#id_created').prop('readonly', true);

  //ห้ามเปลี่ยน site ส่งผลต่อการคำนวณ stock
  $('#id_site').css('pointer-events','none');

  //ห้ามเปลี่ยน select option
  $('.stone_type').css('pointer-events','none');

  visibleIsPass();


  total = parseFloat($('#id_total').val());
  if(total == 0){
    setZeroQtySite();
    searchWeightBySite();
    calculateQty();
  }

  function setZeroQtySite(){
    var inputs = $(".qty_site");
    for(var i = 0; i < inputs.length; i++){
      if($(inputs[i]).val() == ''){
        $('#id_stoneestimateitem_set-'+ i +'-qty_site').val('0.0');
      }
    }

    var nd_inputs = $(".nd_qty_site");
    for(var i = 0; i < nd_inputs.length; i++){
      if($(nd_inputs[i]).val() == ''){
        $('#id_stoneestimateitem_set-'+ i +'-nd_qty_site').val('0.0');
      }
    }
  }

  function hideDiv(id){
    var inputId = $("#div-"+id+" div.col-md-5 div.form-group input[value='"+id+"']").attr("id").match(/\d+/);
    // check ช่อง DELETE
    $("#id_stoneestimateitem_set-"+inputId+"-DELETE").prop('checked', true);
    // ลบ class percent เพื่อไม่ต้องนำไปคำนวน checkOverPercent
    $("#id_stoneestimateitem_set-"+inputId+"-percent").removeClass("percent");
    // ซ่อนรายการหิน
    $("#div-"+id).hide();
  }

  //before save
  $(document).ready(function() {
    $("form").submit(function(event) {
        const submitButton = $(this).find("[type='submit']");
        submitButton.prop("disabled", true); //ปิดปุ่ม submit หากมีการกดซ้ำ

        //เช็คโรงโม่หลัก กับ ส่งต่อห้ามเหมือนกัน
        var stone_types = $(".stone_type");
        var main_site = $("#id_site").val();
        for(var i = 0; i < stone_types.length; i++){
          if($(stone_types[i]).val()){
            site_item =  $("#id_stoneestimateitem_set-"+ i +"-site_id").val();
            nd_site_item =  $("#id_stoneestimateitem_set-"+ i +"-nd_site_id").val();

            if(site_item != "" && site_item == main_site){
              $("#id_stoneestimateitem_set-"+ i +"-site_id").trigger( "focus" );
              alert('ไม่สามารถส่งไปโรงโม่เดียวกับโรงโม่หลักได้ กรุณาเปลี่ยนโรงโม่ที่ส่งต่อ');

              submitButton.prop("disabled", false); // เปิดปุ่ม submit อีกครั้ง
              event.preventDefault(); // Prevent form submission
              return false;
            }

            if(nd_site_item != "" && nd_site_item == main_site){
              $("#id_stoneestimateitem_set-"+ i +"-nd_site_id").trigger( "focus" );
              alert('ไม่สามารถส่งไปโรงโม่เดียวกับโรงโม่หลักได้ กรุณาเปลี่ยนโรงโม่ที่ส่งต่อ');

              submitButton.prop("disabled", false); // เปิดปุ่ม submit อีกครั้ง
              event.preventDefault(); // Prevent form submission
              return false;
            }

            if(site_item != "" && nd_site_item != "" && site_item == nd_site_item){
              $("#id_stoneestimateitem_set-"+ i +"-nd_site_id").trigger( "focus" );
              alert('ส่งไปโม่ต่อที่แรก และส่งไปโม่ต่อที่สองเป็นโรงโม่เดียวกันได้ กรุณาเปลี่ยนส่งไปโม่ต่อที่สอง');

              submitButton.prop("disabled", false); // เปิดปุ่ม submit อีกครั้ง
              event.preventDefault(); // Prevent form submission
              return false;
            }
          }
        }

        //รวมหินที่โม่ได้ (ตัน) ห้ามติดลบ
        var totals = $(".total");
        for(var i = 0; i < totals.length; i++){
          var num_total = parseFloat($(totals[i]).val());
          if(num_total < 0){
            $(totals[i]).trigger( "focus" );
            alert('รวมหินที่โม่ได้ติดลบ กรุณาเปลี่ยนจำนวนที่ส่งไปโรงโม่อื่น');

            submitButton.prop("disabled", false); // เปิดปุ่ม submit อีกครั้ง
            event.preventDefault(); // Prevent form submission
            return false;
          }
        }

        if (typeof checkOverPercent() !== "undefined" && checkOverPercent()) {
            alert('ค่าคำนวนเปอร์เซ็นต์เกิน 100% กรุณาเปลี่ยนเปอร์เซ็นต์ใหม่');
            
            submitButton.prop("disabled", false); // เปิดปุ่ม submit อีกครั้ง
            event.preventDefault(); // Prevent form submission
            return false;
        }
        //เช็คว่าวันนี้มี save โรงโม่นี้หรือยัง ถ้ามีแล้วไม่ให้ save
        if(have_estimate){
          $("#id_site").trigger( "focus" );
          alert('มีข้อมูลการประมาณการณ์ของวันนี้ ปลายทางนี้อยู่แล้ว กรุณาเปลี่ยน ปลายทาง');
          
          submitButton.prop("disabled", false); // เปิดปุ่ม submit อีกครั้ง
          event.preventDefault(); // Prevent form submission
          return false;
        }
    });
  });

  function checkOverPercent(){
    var inputs = $(".percent");
    var sum = 0;
    for(var i = 0; i < inputs.length; i++){
      if($(inputs[i]).val()){
        sum += parseInt($(inputs[i]).val());
      }
    }
    return sum > 100 ? true : false;
  }


  function updateElementIndex(el, prefix, ndx) {
      var id_regex = new RegExp('(' + prefix + '-\\d+)');
      var replacement = prefix + '-' + ndx;
      if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
      if (el.id) el.id = el.id.replace(id_regex, replacement);
      if (el.name) el.name = el.name.replace(id_regex, replacement);
  }
  function cloneMore(selector, prefix) {
      var newElement = $(selector).clone(true);
      var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
      newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
          var name = $(this).attr('name')
          if(name) {
              name = name.replace('-' + (total-1) + '-', '-' + total + '-');
              var id = 'id_' + name;
              $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
          }
      });
      newElement.find('label').each(function() {
          var forValue = $(this).attr('for');
          if (forValue) {
            forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
            $(this).attr({'for': forValue});
          }
      });
      total++;
      $('#id_' + prefix + '-TOTAL_FORMS').val(total);
      $(selector).after(newElement);
      var conditionRow = $('.form-row:not(:last)');
      conditionRow.find('.btn.add-form-row')
      .removeClass('btn-success').addClass('btn-danger')
      .removeClass('add-form-row').addClass('remove-form-row')
      .html('-');
      return false;
  }
  function deleteForm(prefix, btn) {
      var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
      if (total > 1){
          btn.closest('.form-row').remove();
          var forms = $('.form-row');
          $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
          for (var i=0, formCount=forms.length; i<formCount; i++) {
              $(forms.get(i)).find(':input').each(function() {
                  updateElementIndex(this, prefix, i);
              });
          }
      }
      return false;
  }
  $(document).on('click', '.add-form-row', function(e){
      e.preventDefault();
      cloneMore('.form-row:last', 'stoneestimateitem_set');
      return false;
  });
  $(document).on('click', '.remove-form-row', function(e){
      e.preventDefault();
      deleteForm('stoneestimateitem_set', $(this));
      return false;
  });


  $('#id_site, #id_created').change(function() {
    searchStoneEstimate();
  });
  
	function searchStoneEstimate(){
        var site = $("#id_site").val();
        var created = $("#id_created").val();
        var se_id = '{{se.id}}';
        var company = "{{ request.session.company_code }}";

        // Create Ajax Call
        if(site && created){
              $.ajax({
                url: '{% url "searchStoneEstimate" %}',
                data: {
                        'site_id': site,
                        'created': created,
                        'se_id': se_id,
                        'company': company,
                },
                dataType: 'json',
                success: function (data) {
                    have_estimate = data.have_estimate;
                }
              });
        }
        return false;
  }

  //ค้นหา น้ำหนักจากตาชั่งเข้าโรงโม่ และ จากโรงโม่อืน เพื่อ Estimate
  function searchWeightBySite(){
    var created = $("#id_created").val();
    var company =  "{{ request.session.company_code }}";
    var site = $("#id_site").val();

    // Create Ajax Call
    if(created && site){
      $.ajax({
        url: '{% url "searchWeightBySite" %}',
        data: {
          'created': created,
          'company':company,
          'site':site,
        },
        dataType: 'json',
        success: function (data) {
          if(data.scale)
            $("#id_scale").val(data.scale);
          if(data.other)
            $("#id_other").val(data.other);

          sumTotalWeight();
        }
      });
    }
    return false;
  }


  $(".qty_site").blur(function() {
    $(this).val(parseFloat($(this).val()).toFixed(3));
  });

  $(".nd_qty_site").blur(function() {
    $(this).val(parseFloat($(this).val()).toFixed(3));
  });
  
  //คำนวน รวมหินที่โม่ได้ (ตัน)
  function sumTotalWeight(){
    topup = parseFloat($("#id_topup").val());
    scale = parseFloat($("#id_scale").val());
    other = parseFloat($("#id_other").val());

    total = topup + scale + other;
    $("#id_total").val(total.toFixed(3));

    calculateQty();
  }

  $('#id_topup, #id_scale, #id_other').blur(function() {
    $('#id_topup').val(parseFloat($('#id_topup').val()).toFixed(3));
    $('#id_scale').val(parseFloat($('#id_scale').val()).toFixed(3));
    $('#id_other').val(parseFloat($('#id_other').val()).toFixed(3));

    sumTotalWeight();
  });

  $('.percent, .qty_site, .nd_qty_site').blur(function() {
    calculateQty()
  });

  //คำนวน จำนวนที่ได้จาก น้ำหนักรวม และ เปอร์เซ็น
  function calculateQty(){
    var inputs = $(".percent");
    var total = parseFloat($("#id_total").val());

    if(total != 0){
      for(var i = 0; i < inputs.length; i++){
        if($(inputs[i]).val()){
          percent = parseInt($(inputs[i]).val());
          qty = total * percent / 100;

          qty_site =  parseFloat($('#id_stoneestimateitem_set-'+ i +'-qty_site').val());
          nd_qty_site =  parseFloat($('#id_stoneestimateitem_set-'+ i +'-nd_qty_site').val());
          result = qty - (qty_site + nd_qty_site);

          $('#id_stoneestimateitem_set-'+ i +'-qty').val(qty.toFixed(3));
          $('#id_stoneestimateitem_set-'+ i +'-total').val(result.toFixed(3));
        }
      }
    }
  }

  $('#id_is_pass').change(function() {
    visibleIsPass();
  });

  //เปิด-ปิด form is_pass
  function visibleIsPass(){
    if ($('#id_is_pass').is(':checked')) {
      $('.is_to_pass').show();
      $('.nps').removeClass('col-md-5').addClass('col-md-2');
      $('.npp').removeClass('col-md-3').addClass('col-md-1-25');
      $('.npt').removeClass('col-md-3').addClass('col-md-1-5');
    } else {
      if (isQtySite() == true){
        const confirmed = confirm("คุณต้องการยกเลิกสถานะการส่งไปโม่ต่อหรือไม่ ?\n*** หากยกเลิกจะรีเซ็ตจำนวนที่ส่งไปโม่ต่อทั้งหมด");
        if (!confirmed) {
          $('#id_is_pass').prop('checked', true);
          e.preventDefault();
        }else{
          $('.is_to_pass').hide();
          $('.nps').removeClass('col-md-2').addClass('col-md-5');
          $('.npp').removeClass('col-md-1-25').addClass('col-md-3');
          $('.npt').removeClass('col-md-1-5').addClass('col-md-3');
          resetToPass();
          calculateQty();
        }
      }else{
          $('.is_to_pass').hide();
          $('.nps').removeClass('col-md-2').addClass('col-md-5');
          $('.npp').removeClass('col-md-1-25').addClass('col-md-3');
          $('.npt').removeClass('col-md-1-5').addClass('col-md-3');
          resetToPass();
          calculateQty();
      }
    }
  }

  //รีเซ็ตข้อมูลส่งต่อหาก ปิด form is_pass
  function resetToPass(){
    var inputs = $(".stone_type");
    for(var i = 0; i < inputs.length; i++){
      $('#id_stoneestimateitem_set-'+ i +'-site_id').val('');
      $('#id_stoneestimateitem_set-'+ i +'-qty_site').val(0);

      $('#id_stoneestimateitem_set-'+ i +'-nd_site_id').val('');
      $('#id_stoneestimateitem_set-'+ i +'-nd_qty_site').val(0);
    }
  }

  function isQtySite() {
    var inputs = $(".qty_site");
    for (var i = 0; i < inputs.length; i++) {
      var value = parseFloat($(inputs[i]).val());
      if (!(value == 0.00 || isNaN(value))) {
        return true;
      }
    }

    var nd_inputs = $(".nd_qty_site");
    for (var i = 0; i < nd_inputs.length; i++) {
      var nd_value = parseFloat($(nd_inputs[i]).val());
      if (!(nd_value == 0.00 || isNaN(nd_value))) {
        return true;
      }
    }

    return false;
  }

  </script>
{% endblock %}