{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load templatehelpers %}

{% block css %}
<link
rel="stylesheet"
href="{% static 'extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}"
/>
<link rel="stylesheet" href="{% static 'compiled/css/table-datatable-jquery.css' %}"/>
<style>
    @media print {
        body {
            visibility: hidden;
            font-size:10px;
            font-family:"Times New Roman";
        }
        .section{
            visibility: visible;
            position: absolute;
            left: 0;
            top: 0;
        }
        @page { size: landscape; }
	}

  .doubleUnderline {
    text-decoration-line: underline;
    text-decoration-style: double;
  }
    
  </style>
{% endblock %}

{% block content %}
<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
      <i class="bi bi-justify fs-3"></i>
    </a>
  </header>

  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
          <h3>Weekly Report</h3>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
          <nav
            aria-label="breadcrumb"
            class="breadcrumb-header float-start float-lg-end"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Dashboard</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'viewProduction' %}">Production</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Weekly Report
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>

    <!-- Basic Tables start -->
    <section class="section">
      <div class="card">
        <div class="card-body">
            <div class="row">
              <div class="col">
                <!-- h5>สรุปรายงาน วันที่ 1-{{date_object|date:"j F Y" }}</!-->
                <h5>สรุปรายงาน {% if last_day %}ข้อมูลบันทึกปฎิบัติงานโรงโม่ที่คีย์ล่าสุด วันที่ {{ start_day |date:"j F Y" }} - {{ last_day |date:"j F Y" }}{% else %} ไม่มีข้อมูลผลิตของ {{start_day |date:"F Y"}} เนื่องจากไม่ได้คีย์ข้อมูลบันทึกปฎิบัติงานโรงโม่{%endif%}</h5>
              </div>
              <div class="col-2">                
                <button type="button" class="btn btn-secondary float-end d-print-none" onclick="window.print();">
                  <i class="fas fa-print"></i>
                  ปริ้น Weekly Report
                </button>
              </div>
            </div>
            <div class="table-responsive">
            <div class="row">
              {% for i in pd %}
                <div class="col">
                    <div class="table-responsive my-3 col">
                        <table id="myTable" class="table table-hover">
                          <thead class="table-dark">
                            <tr class="{% if forloop.counter0  == 0 %}table-success{% elif forloop.counter0  == 1%}table-primary{% elif forloop.counter0  == 2%}table-warning{% elif forloop.counter0  == 3%}table-info{%endif%}">
                              <th colspan="3">{{i.site__base_site_name}}</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>เป้าผลิต</td>
                              <td id="id_goal_{{forloop.counter0}}">{{i.pd_goal__accumulated_goal|floatformat:2|intcomma}}</td>
                              <td>ตัน/เดือน</td>
                            </tr>
                            <tr>
                                <td>ทำการผลิตหินจริง</td>
                                <td id="id_real_{{forloop.counter0}}">{% for r in real_pd %}{% if i.site__base_site_id == r.site__base_site_id %}{{r.sum_weight|floatformat:2|intcomma}}{%endif%}{% endfor %}</td>
                                <td>ตัน</td>
                            </tr>
                            <tr>
                                <td>คิดเป็น</td>
                                <td id="id_percent_{{forloop.counter0}}"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>ยอดที่ขาด</td>
                                <td id="id_loss_{{forloop.counter0}}"></td>
                                <td>ตัน</td>
                            </tr>
                            <tr>
                                <td class="{% if forloop.counter0  == 0 %}table-success{% elif forloop.counter0  == 1%}table-primary{% elif forloop.counter0  == 2%}table-warning{% elif forloop.counter0  == 3%}table-info{%endif%}" colspan="3">สาเหตุการหยุดทำงานของเครื่องจักร จากตัวเครื่องโม่</td>
                            </tr>
                            {% for mc in mc_type %}
                            <tr>
                                <td><form class="form-inline ml-3" id="search" method="GET"><b onClick="searchDetailMcType('{{i.site__base_site_id}}', '{{mc.id}}')" data-target="#mySearch" data-toggle="modal" style="cursor: pointer;" class="text-primary">- หยุดซ่อมบำรุง {{mc.name}}</b></form></td>
                                <td>{% for pl in pd_loss_mc %}
                                      {% if i.site__base_site_id == pl.production__site__base_site_id and pl.mc_type == mc.id %}
                                          {{pl.sum_time| format_duration}}
                                      {% endif %}
                                  {% endfor %}
                                </td>
                                <td>ชม./เดือน</td>
                            </tr>
                            {% endfor %}

                            <tr style="height: 40px;">
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>

                            {% with outer_counter=forloop.counter0 %}
                              {% for ml in mc_loos_type %}
                                {% ifchanged ml.mc_type__name %}
                                <tr class="{% if outer_counter == 0 %}table-success{% elif outer_counter == 1%}table-primary{% elif outer_counter == 2%}table-warning{% elif outer_counter == 3%}table-info{%endif%}">
                                  <td colspan="3">{{ml.mc_type__name}}</td>
                                </tr>
                                {% endifchanged %}
                                <tr>
                                  <td> - {{ml.loss_type__name}}</td>
                                  <td>
                                    {% for plp in pd_loss_pro %}
                                      {% if i.site__base_site_id == plp.production__site__base_site_id and ml.mc_type__name == plp.mc_type__name and ml.loss_type__name == plp.loss_type__name %}
                                        {{plp.sum_time| format_duration}}
                                      {% endif %}
                                    {% endfor %}
                                  </td>
                                  <td>ชม./เดือน</td>
                                </tr>
                              {% endfor %}
                            {% endwith %}
                              <tr class="table-danger">
                                <td>เวลาทำงานที่กำหนด</td>
                                <td>{{i.sum_actual| format_duration}}</td>
                                <td>ชม./เดือน</td>
                              </tr>
                              <tr class="table-danger">
                                <td>รวมความพร้อมของเครื่องจักร</td>
                                <td>{{i.working_time| format_duration}}</td>
                                <td>ชม./เดือน</td>
                              </tr>
                              <tr class="table-danger">
                                <td>รวมเวลาสูญเสียทั้งหมด</td>
                                <td>{{i.sum_loss_n_un| format_duration}}</td>
                                <td>ชม./เดือน</td>
                              </tr>
                              <tr class="table-danger">
                                <td>เวลาโม่หินจริง</td>
                                <td>{{i.stone_time| format_duration}}</td>
                                <td>ชม./เดือน</td>
                              </tr>
                              <tr class="table-danger">
                                <td>%ในการสูญเสีย</td>
                                <td>{{i.percent_loss|stringformat:".2f" }}%</td>
                                <td></td>
                              </tr>
                              <tr class="table-danger">
                                <td>%A</td>
                                <td id="id_percent_a_{{forloop.counter0}}">{{i.percent_a|stringformat:".2f" }}%</td>
                                <td></td>
                              </tr>
                              <tr class="table-danger">
                                <td>%P</td>
                                <td id="id_p_percent_{{forloop.counter0}}"></td>
                                <td></td>
                              </tr>
                              <tr class="table-danger">
                                <td>กำลังการผลิต (Target)</td>
                                <td id="id_target_{{forloop.counter0}}">{% for s in s_target %}{% if i.site__base_site_id == s.base_site_id %}{{s.target|floatformat:2|intcomma}}{%endif%}{% endfor %}</td>
                                <td>ตัน/ชม.</td>
                              </tr>
                              <tr class="table-danger">
                                  <td>กำลังการผลิต (Performance)</td>
                                  <td id="id_stone_time_de_{{forloop.counter0}}" class="d-none">{{i.stone_time_de}}</td>
                                  <td id="id_capacity_{{forloop.counter0}}"></td>
                                  <td>ตัน/ชม.</td>
                              </tr>
                              <tr class="table-danger">
                                <td>%OEE</td>
                                <td id="id_oee_percent_{{forloop.counter0}}"></td>
                                <td></td>
                              </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
                {% endfor %}
            </div>
                 <div class="row">
                    {%  for i in list_ls %}
                      {% if i.0 %}
                      <div class="col">
                          <div class="card-body">
                              <div id="chart_site_{{forloop.counter}}"></div>
                          </div>
                      </div>
                      {% endif %}
                    {%endfor%}
                 </div>
            </div>
        </div>
      </div>
    </section>
    <!-- Basic Tables end -->
    <!-- Modal Search-->
    <div class="modal fade" id="mySearch" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Details ในการสูญเสีย</h4>
              <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <p id="pShowSearch"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="footer clearfix mb-0 text-muted">
      <div class="float-start">
        <p>2023 &copy; Nitjanan</p>
      </div>
      <div class="float-end">
        <!-- p>
          Crafted with
          <span class="text-danger"
            ><i class="bi bi-heart-fill icon-mid"></i
          ></span>
          by <a href="https://saugi.me">Saugi</a>
        </p -->
      </div>
    </div>
  </footer>
{% endblock %}

{% block script %}
<script src="{% static 'js/components/dark.js' %}"></script>
<script src="{% static 'extensions/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>

<script src="{% static 'compiled/js/app.js' %}"></script>

<script src="{% static 'extensions/jquery/jquery.min.js' %}"></script>
<script src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
<script src="{% static 'js/pages/datatables.js' %}"></script>
<!-- Need: Apexcharts -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script>
    $(window).on('load', function() {
      "{% for i in pd %}"
        var goal = $('#id_goal_{{forloop.counter0}}').text().replace(',', '');
        var real = $('#id_real_{{forloop.counter0}}').text().replace(',', '');
        var target = $('#id_target_{{forloop.counter0}}').text().replace(',', '');
        var stone_time_de = $('#id_stone_time_de_{{forloop.counter0}}').text();

        var percent_a = $('#id_percent_a_{{forloop.counter0}}').text().replace(',', '');

        var loss = parseFloat(goal) - parseFloat(real);
        $('#id_loss_{{forloop.counter0}}').html(loss.toLocaleString(undefined, { maximumFractionDigits: 2 }));

        var percent = (parseFloat(real)/ parseFloat(goal)) * 100;
        $('#id_percent_{{forloop.counter0}}').html(percent.toFixed(1)+'%');

        var capacity = parseFloat(real) / (parseFloat(stone_time_de)/1000000/3600);
        $('#id_capacity_{{forloop.counter0}}').html(capacity.toFixed(2));

        var p_percent = (parseFloat(capacity)/ parseFloat(target)) * 100;
        $('#id_p_percent_{{forloop.counter0}}').html(p_percent.toFixed(2)+'%');

        var oee_percent = (parseFloat(p_percent) * parseFloat(percent_a))/100;
        $('#id_oee_percent_{{forloop.counter0}}').html(oee_percent.toFixed(2)+'%');

      "{% endfor %}"
    });

    function exportToExcel() {
        var table = document.getElementById("myTable");
        var rows = table.querySelectorAll("tbody tr");
        var csvContent = "\uFEFF"; // BOM (Byte Order Mark) to ensure correct encoding

        rows.forEach(function (row) {
            var columns = row.querySelectorAll("td");
            var rowData = [];
            columns.forEach(function (column) {
                rowData.push('"' + column.textContent.trim() + '"');
            });
            csvContent += rowData.join(",") + "\n";
        });

        var blob = new Blob([csvContent], { type: "text/csv;charset=utf-8;" });
        var link = document.createElement("a");
        link.href = window.URL.createObjectURL(blob);
        link.download = "table.csv";
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }

    '{% for item in list_ls %}'
      '{% if item.0 %}'
          // site {{ loop.index }}
          var optionsSite{{ forloop.counter }} = {
              series: {{ item.1 | safe }},
              chart: {
                  width: '100%',
                  type: 'pie',
              },
              labels: {{ item.0 | safe }},
              plotOptions: {
                  pie: {
                      dataLabels: {
                          offset: -5
                      }
                  }
              },
              title: {
                  text: "สาเหตุการหยุดทำงาน โรงโม่ {{forloop.counter}}",
                  style: {
                      fontSize: '16px',
                      fontWeight: 'bold',
                      fontFamily: undefined,
                      color: '#5D6D7E',
                  },
              },
              dataLabels: {
                  formatter(val, opts) {
                      const name = opts.w.globals.labels[opts.seriesIndex]
                      return [name, parseInt(val) + '%']
                  }
              },
              legend: {
                  show: false
              }
          };

          var chart = new ApexCharts(document.querySelector("#chart_site_{{forloop.counter}}"), optionsSite{{forloop.counter}});
          chart.render();
      '{% endif %}'
    '{% endfor %}'

    // Modal search
    function searchDetailMcType(site_id , mc_id){
      var site_id = site_id;
      var mc_id = mc_id;

      if (site_id && mc_id) {
          // Create Ajax Call
          $.ajax({
              url: '{% url "searchDetailMcType" %}',
              data: {
                  'site_id': site_id,
                  'mc_id': mc_id,
              },
              dataType: 'json',
              success: function (data) {
                if (data.instance) {
                  openModal(data.instance);
                  e.preventDefault();
                }else{
                  $("#pShowSearch").html('ไม่รายละเอียดที่ค้นหา');
                }
              }
          });
      } else {
        
      }
      return false;
  }

function openModal(instance) {
  $("#pShowSearch").html(instance);
  $('#mySearch').modal('show');
}
</script>
{% endblock %}